<script lang="ts">
	import dots from '$lib/resources/dots.png';
	import playing from '$lib/resources/playing.gif';
	import {
		artists,
		converter,
		fetchVideo, fetchVideoById,
		formatNumber,
		limitString,
		playSongInSequence,
		timeConverter
	} from '$lib';
	import {
		miniPlayerState,
		moreSongsInfo,
		moreSongsLoading, musicVideoLoaded, musicVideoState, musicVideoURL, nowPlayingToggle,
		playerData,
		queue,
		videoInfo,
		videoInfoLoading
	} from '../../../../store';
	import defaultImg from '$lib/resources/default.png';
	import defaultBG from '$lib/resources/landing/landing.gif';
	import { onMount } from 'svelte';

	let results: object;
	let background = defaultBG;

	$: if (results) background = results.videoThumbnails[0].url;

	videoInfo.subscribe((value) => {
		if (value) results = value.data;
	});

	const playVideo = () => {
		console.log('clicked');

		nowPlayingToggle.set(false);

		musicVideoState.set(true);

		musicVideoURL.set(
			`${results.formatStreams.length > 1 ? results.formatStreams[1].url : results.formatStreams[0].url}`
		);

		musicVideoLoaded.set(true);

		playerData.set({
			isVideo: true,
			id: results.videoId,
			name: results.title,
			author: results.author,
			image: results.videoThumbnails,
			duration: results.lengthSeconds
		});

		queue.set([{
			isVideo: true,
			id: results.videoId,
			name: results.title,
			author: results.author,
			image: results.videoThumbnails,
			duration: results.lengthSeconds
		}]);
	};

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};
</script>

{#if $videoInfoLoading}
	<div class="loading-container">
		<div class="loading">Loading...</div>
	</div>
{:else}
	<section class="container">
		<div class="song-info-container">
			<div class="background">
				<img src={background} alt="Background" />
			</div>
			<div class="song-cover">
				<img src={results.videoThumbnails[4].url} alt="" />
				<div class="song-controls">
					<button on:click={playVideo} class="play-button">
						<span class="material-symbols-rounded"> play_arrow </span>
						Play
					</button>
					<button class="add-button">
						<span class="material-symbols-rounded"> add_circle </span>
						Add to Playlist
					</button>
					<button class="more-button">
						<span class="material-symbols-rounded"> more_vert </span>
					</button>
				</div>
			</div>
			<div>
				<div class="song-info">
					<h1 class="song-title">
						<div class="title">{limitString(results.title, 51)}</div>
					</h1>
					<div class="song-artist">
						<div class="song-artist-photo">
							<img src={results.authorThumbnails[0].url} alt="Artist icon" />
						</div>
						{results.author}
					</div>
					<div class="video-description">
							{limitString(results.description, 325)} <strong>more</strong>
					</div>
					<div class="video-likes">
						{formatNumber(results.likeCount)} likes
					</div>
					<p class="song-other-info">{converter(results.lengthSeconds)} · {formatNumber(results.viewCount)} plays</p>
				</div>
			</div>
		</div>
		<div class="sub-section-title">
			More like {limitString(results.title, 68)}
		</div>
		<div class="songs-container">
			{#each results.recommendedVideos as item}
				<button class="element">
					<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button" on:click={() => fetchVideoById(item.videoId)}>
							<span class="play-icon material-symbols-rounded"> play_arrow </span>
							{#if $playerData}
								{#if $playerData.id === item.videoId}
									<div class="now-playing-container">
										<img class="now-playing" src={playing} alt="Now playing" />
									</div>
								{/if}
							{/if}
							<object
								class="music-art"
								data={item.videoThumbnails[4].url}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
						<div class="duration">{converter(item.lengthSeconds)}</div>
					</div>
					<div class="element-info">
						<div class="title">{item.title}</div>
						<div class="author">{limitString(item.author, 32)}</div>
						<div class="view-count">{formatNumber(item.viewCount)} views</div>
					</div>
					<span class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</span>
				</button>
			{/each}
		</div>
	</section>
{/if}

<style lang="scss">
	@import '$lib/styles/browse/video/Video';
</style>
