<script lang="ts">
	// Custom imports
	import { queue } from '../../store';

	// Component imports
	import '$lib/styles/authenticated.scss';
	import Topbar from '$lib/components/Topbar.svelte';
	import Sidebar from '$lib/components/Sidebar.svelte';
	import NowPlaying from '$lib/components/NowPlaying.svelte';
	import Player from '$lib/components/Player.svelte';
</script>

<main>
	<Topbar />
	<div class="row">
		<Sidebar />
		<slot />
	</div>
	{#if $queue.length !== 0}
		<Player />
		<NowPlaying />
	{/if}
</main>
