<script lang="ts">
	// Importing dependencies
	import { onMount } from 'svelte';
	import { greeting, greetingStyle, playerData } from '../../store';
	import type { homeDataType } from '$lib/types/jsonTypes';

	// Importing components
	import Blobs from '$lib/components/svg/Blobs.svelte';
	import Cards from '$lib/components/home/Cards.svelte';
	import CardsSkeleton from '$lib/components/skeletons/CardsSkeleton.svelte';

	// Importing resources
	import arijitSingh from '$lib/resources/home/arijit-singh.jpeg';
	import shreyaGhoshal from '$lib/resources/home/shreya-ghoshal.jpg';
	import justinBieber from '$lib/resources/home/justin-bieber.jpeg';
	import blindingLights from '$lib/resources/home/blinding-lights.png';
	import yesAnd from '$lib/resources/home/yes-and.jpg';
	import { browser } from '$app/environment';
	import TopSection from '$lib/components/home/TopSection.svelte';
	import type { LastPlayedSong } from '$lib/types/types';

	let homeData: homeDataType[];
	// let lastPlayedSong: LastPlayedSong;
	// let likedSongs: Array<object>;

	// Initializing the greeting
	const initGreeting = () => {
		const date = new Date();
		if (date.getHours() >= 6 && date.getHours() <= 12) {
			greeting.set('Good morning!');
			greetingStyle.set('https://c.tenor.com/0l3zCp-KLX4AAAAi/pictia-nft.gif');
		} else if (date.getHours() >= 12 && date.getHours() <= 16) {
			greeting.set('Good afternoon!');
			greetingStyle.set('https://c.tenor.com/0l3zCp-KLX4AAAAi/pictia-nft.gif');
		} else if (date.getHours() >= 16 && date.getHours() <= 20) {
			greeting.set('Good evening!');
			greetingStyle.set('https://c.tenor.com/fK_mqBr8xGIAAAAi/coffee-lover.gif');
		} else if (
			(date.getHours() >= 20 && date.getHours() <= 24) ||
			(date.getHours() >= 0 && date.getHours() <= 6)
		) {
			greeting.set('Sweet dreams!');
			greetingStyle.set('https://c.tenor.com/wNzoikuVQDUAAAAi/sleeping-face-joypixels.gif');
		}
	};

	onMount(async () => {
		initGreeting();

		if (browser) {
			// const playHistory = localStorage.getItem('playHistory');
			// if (playHistory) {
			// 	lastPlayedSong = JSON.parse(playHistory)[0];
			// }

			// const storedLikedSongs = localStorage.getItem('likedSongs');
			// if (storedLikedSongs) {
			// 	likedSongs = JSON.parse(storedLikedSongs);
			// }

			const storedData = sessionStorage.getItem('homeData');
			if (storedData) {
				console.log('Getting home data from session storage');
				homeData = JSON.parse(storedData);
			} else {
				console.log('Fetching new home data');
				const response = await fetch('/api/home');
				const data = await response.json();
				homeData = data.result;
				sessionStorage.setItem('homeData', JSON.stringify(homeData));
			}
		}
		console.log(homeData);
	});
</script>

<svelte:head>
	{#if !$playerData}
		<title>Rhythmie - Just you and music</title>
	{/if}
</svelte:head>

<section class="homepage">
	<div class="content">
		<div class="greetingContainer">
			<div class="blob">
				<Blobs fillX="#b16dff" fillY="#6a49c2" pathColor="#c18aff" height="50em" width="50em" />
				<div class="heroContainer">
					<img class="heroImages" src={arijitSingh} alt="Arijit Singh" />
					<img class="heroImages" src={shreyaGhoshal} alt="Shreya Ghoshal" />
					<img class="heroImages" src={blindingLights} alt="Blinding Lights" />
					<img class="heroImages" src={justinBieber} alt="Justin Bieber" />
					<img class="heroImages" src={yesAnd} alt="yes and?" />
				</div>
			</div>

			<div class="greeting">
				<span class="greetingText">{$greeting}</span>
				<img class="greetingStyle" src={$greetingStyle} alt="" />
				<div class="username">
					<div class="usernameField">The music love<br /> begins here.</div>
				</div>
			</div>
		</div>

		<!-- <TopSection {lastPlayedSong} {likedSongs} /> -->

		{#if homeData}
			{#each homeData as result}
				<h2 class="card-title">
					{result.title}
				</h2>
				<Cards contents={result.contents} />
			{/each}
		{:else}
			<h2 class="card-title">Quick picks</h2>
			<CardsSkeleton />
		{/if}
	</div>
</section>

<style lang="scss">
	@import '$lib/styles/home/Home';
</style>
