<script lang="ts">
	// Imports
	import { limitString } from '$lib';

	// Exporting card data from the parent '(home)/+page.svelte'
	export let contents;
</script>

<section class="cards-container">
	{#if contents}
		{#each contents as item}
			{#if item.thumbnails && item.thumbnails.length > 1}
				<a href="/explore/search?q={item.name}" class="homeCard">
					<div class="homeCardImg">
						<img src={item.thumbnails[1].url} alt="Card art" />
					</div>
					<div class="homeCardTitle">
						<span>
							{limitString(item.name, 14)}
						</span>
					</div>
					{#if item.type === 'SONG'}
						<div class="homeCardArtist">
							<span>
								{limitString(item.artist.name, 14)}
							</span>
						</div>
					{/if}
				</a>
			{/if}
		{/each}
	{/if}
</section>

<style lang="scss">
	@import '$lib/styles/home/components/Cards.scss';
</style>
