<script lang="ts">
	import playButton from '$lib/resources/play-button.png';
	import defaultImg from '$lib/resources/default.png';
	import { fetchSong } from '$lib';
	import type { LastPlayedSong } from '$lib/types/types';

	export let lastPlayedSong: LastPlayedSong;
	export let likedSongs: Array<object>;
</script>

<section class="top-section">
	<div class="container">

		{#if lastPlayedSong}
			<div class="last-played-title">
				Pick up where you left off
			</div>

			<div class="last-played-container">
				<div class="image-container">
					<img class="image" src={defaultImg} alt="Song art" />
				</div>
				<div class="info-container">
					<div class="title">
						{lastPlayedSong.name}
					</div>
					<div class="artists">
						{lastPlayedSong.artists}
					</div>
				</div>
				<div class="button-container">
					<button on:click={() => fetchSong(lastPlayedSong.id, true)} class="play-button">
						<img class="play-icon" src={playButton} alt="Play button" />
					</button>
				</div>
			</div>
		{/if}

		{#if likedSongs}
			<div class="liked-songs-title">
				Liked songs
			</div>

			<div class="liked-songs-container">
				<div class="image-container">
					<img class="image" src={defaultImg} alt="Song art" />
				</div>
				<div class="info-container">
					<div class="title">
						{lastPlayedSong.name}
					</div>
					<div class="artists">
						{lastPlayedSong.artists}
					</div>
				</div>
				<div class="button-container">
					<button on:click={() => fetchSong(lastPlayedSong.id, true)} class="play-button">
						<img class="play-icon" src={playButton} alt="Play button" />
					</button>
				</div>
			</div>
		{/if}
	</div>
</section>

<style lang="scss">

</style>