<script lang="ts">
	/**
	 * Importing necessary components, resources, and stores.
	 */
	import TopResultsSkeleton from '$lib/components/skeletons/TopResultsSkeleton.svelte';
	import { isLoading, searchQuery, searchResults, playerData } from '../../../../store';
	import { page } from '$app/stores';

	import Topresult from '$lib/components/explore/Topresult.svelte';
	import Songs from '$lib/components/explore/Songs.svelte';
	import Artists from '$lib/components/explore/Artists.svelte';
	import Albums from '$lib/components/explore/Albums.svelte';
	import Videos from '$lib/components/explore/Videos.svelte';
	import type { resultType } from '$lib/types/resultTypes';

	/**
	 * Local variables to hold the state of loading and search results.
	 */
	let results: resultType;

	/**
	 * Subscribing to the searchResults store to update the local search results.
	 */
	searchResults.subscribe((value) => {
		results = value;
	});
</script>

<svelte:head>
	{#if !$playerData}
		<title>Search - Rhythmie</title>
	{/if}
</svelte:head>

<div class="contents-container">
	<div class="category-container">
		<!-- Navigation for search categories -->
		<span class="material-symbols-rounded back-button"> arrow_back_ios </span>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search{$page.url.search}"
			class="category active-category"
		>
			<div>Top Results</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/songs{$page.url.search}"
			class="category"
		>
			<div>Songs</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/videos{$page.url.search}"
			class="category"
		>
			<div>Videos</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/albums{$page.url.search}"
			class="category"
		>
			<div>Albums</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/artists{$page.url.search}"
			class="category"
		>
			<div>Artists</div>
		</a>
	</div>

	{#if $isLoading.search}
		<!-- Display a skeleton component while loading -->
		<TopResultsSkeleton />
	{:else}
		<!-- Display the search results when not loading -->
		<section class="contents">
			<div>
				<div class="category-title">Top Result for "{$searchQuery}"</div>
				<Topresult results={results.data} />

				<div class="category-title">Songs</div>
				<Songs results={results.data.songs} searchQuery={$page.url.search} />

				<div class="category-title">Albums</div>
				<Albums results={results.data.albums} searchQuery={$page.url.search} />

				<div class="category-title">Artists</div>
				<Artists results={results.data.artists} searchQuery={$page.url.search} />

				<div class="category-title">Videos</div>
				<Videos />
			</div>
		</section>
	{/if}
</div>

<style lang="scss">
	/**
   * Importing styles for the search page.
   */
	@import '$lib/styles/explore/search/Search.scss';
</style>
