<script lang="ts">
	import icon from '$lib/resources/icon.png';
	import background from '$lib/resources/support-background.png';
</script>

<div class="container">
	<img class="background-image" src={background} alt="Background" />
	<div class="support-container">
		<div class="support-title">
			Support
		</div>
		<div class="support-links">
			<a href="/support/faq">FAQ</a>
			<a href="/support/contact">Contact</a>
			<a class="active" href="/support/privacy-policy">Privacy Policy</a>
			<a href="/support/terms-and-conditions">Terms and Conditions</a>
			<a href="/support/delete-my-data">Delete my data</a>
		</div>
	</div>
	<div class="inner-container">
		<div class="branding-container">
			<div class="branding-icon">
				<img src={icon} alt="" />
			</div>
			<div class="branding-title">
				Rhythmie
			</div>
		</div>

		<div class="container-title">
			Privacy Policy
		</div>
		<div class="policy-container">
			<div class="policy-title">
				We are committed to protecting your privacy.
			</div>

			<div class="policy-content">
				<div class="we-do-not-title">
					Let's make things clear:
				</div>
				<div class="we-do-not-section">
					<div class="we-do-not">
						<span class="material-symbols-rounded">
							done_outline
						</span>
						We do not share your information with third parties.
					</div>
					<div class="we-do-not">
						<span class="material-symbols-rounded">
							done_outline
						</span>
						We do not sell your information.
					</div>
					<div class="we-do-not">
						<span class="material-symbols-rounded">
							done_outline
						</span>
						We do not use your information for marketing purposes and advertising purposes.
					</div>
					<div class="we-do-not">
						<span class="material-symbols-rounded">
							done_outline
						</span>
						We do not store your information longer than necessary.
					</div>
					<div class="we-do-not">
						<span class="material-symbols-rounded">
							done_outline
						</span>
						We do not store your information after you delete your account.
					</div>
				</div>
				<div class="policy-content-title">
					What do we collect?
				</div>
				<ul>
					<li>Your email address</li>
					<li>Your profile picture</li>
					<li>Your username</li>
					<li>Your password (encrypted)</li>
				</ul>
				<div class="policy-content-title">
					How do we use your info?
				</div>
				<ul>
					<li>Provide you with the services you request</li>
					<li>Improve our services</li>
					<li>Prevent fraud</li>
					<li>Comply with legal requirements</li>
				</ul>
			</div>
		</div>

		<div class="policy-terms">
			<div class="policy-term">
				<div class="term-title">
					Information Collection and Use
				</div>
				<ul class="terms">
					<li>
						Rhythmie collects certain information about users for the purpose of providing and improving the service. This may include personal information such as name, email address, and location, as well as non-personal information such as device information and usage data.
						We do not share any data collected with third parties.
					</li>
				</ul>
			</div>
			<div class="policy-term">
				<div class="term-title">
					Use of Information
				</div>
				<ul class="terms">
					<li>
						Rhythmie uses the collected information for various purposes, including but not limited to:
					</li>
					<li>
						Providing and maintaining the service
					</li>
					<li>
						Personalizing user experience
					</li>
					<li>
						Analyzing usage trends and improving the service
					</li>
					<li>
						Communicating with users, such as responding to inquiries or providing updates
					</li>
				</ul>
			</div>
			<div class="policy-term">
				<div class="term-title">
					Data Security
				</div>
				<ul class="terms">
					<li>
						Rhythmie takes reasonable measures to protect user information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, and Rhythmie cannot guarantee absolute security.
					</li>
				</ul>
			</div>
			<div class="policy-term">
				<div class="term-title">
					Third-Party Services
				</div>
				<ul class="terms">
					<li>
						Rhythmie may use third-party services for analytics, advertising, or other purposes. These services may collect and use data in accordance with their own privacy policies.
					</li>
				</ul>
			</div>
			<div class="policy-term">
				<div class="term-title">
					Data Sharing
				</div>
				<ul class="terms">
					<li>
						Rhythmie does not share any user data with third parties, except in the following circumstances:
					</li>
					<li>
						With user consent or as required by law
					</li>
					<li>
						To service providers assisting with operations such as hosting or analytics
					</li>
					<li>
						In connection with a business transaction, such as a merger or acquisition
					</li>
				</ul>
			</div>
			<div class="policy-term">
				<div class="term-title">
					Changes to Privacy Policy
				</div>
				<ul class="terms">
					<li>
						Rhythmie reserves the right to update or change this privacy policy at any time. Users will be notified of any significant changes.
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	@import '$lib/styles/support/privacy-policy/Privacy-Policy';
</style>