<script lang="ts">
	import { goto, invalidate } from '$app/navigation';
	import { onMount } from 'svelte';

	export let data;

	// Importing components
	import Documentation from '$lib/components/Documentation.svelte';
	import QualitySettings from '$lib/components/dialogs/QualitySettings.svelte';
	import Alert from '$lib/components/dialogs/Alert.svelte';

	// Importing global styles
	import '$lib/styles/global.scss';
	import { alertState, quality, qualitySettingState } from '../store';
	import { browser } from '$app/environment';

	$: ({ session, supabase } = data);

	$: if (browser) {
		if (localStorage.getItem('quality')) {
			// localStorage.setItem('quality', String($quality));
			quality.set(Number(localStorage.getItem('quality')));
		} else {
			localStorage.setItem('quality', String($quality));
		}
	}

	alertState.subscribe(value => {
		if (value)
			setTimeout(() => {
				alertState.set(false);
			}, 5000);
	});

	onMount(() => {
		const { data } = supabase.auth.onAuthStateChange((_, newSession) => {
			if (!newSession) {
				setTimeout(() => {
					goto('/', { invalidateAll: true });
				});
			}
			if (newSession?.expires_at !== session?.expires_at) {
				invalidate('supabase:auth');
			}
		});

		return () => data.subscription.unsubscribe();
	});
</script>

{#if $alertState}
	<Alert />
{/if}

{#if $qualitySettingState}
	<QualitySettings />
{/if}

<Documentation />
<slot />
