@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin-bottom: 15vh;
}

.category-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3vh;
}

.back-button {
	font-size: 20px;
	color: #777;
}

.category {
	font-size: 1rem;
	margin: 0 10px;
	opacity: 0.5;
	padding: 9px 20px;
	border-radius: 20em;

	div {
		font-family: 'Josefin Sans', sans-serif;
	}
}

.active-category {
	background: #eee;
	opacity: 1;

	div {
		color: #000;
	}
}

.category-title {
	font-size: 1.6rem;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 20px;
	margin-bottom: 3vh;
	display: flex;
	width: 77%;
}

.elements-container {
	@include glass-pane;
	border-radius: 1em;
	padding: 0.4em 1em;
	height: 100%;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.element {
	width: 98%;
	display: flex;
	align-items: flex-start;
	padding: 0.6em 0.6em;
	margin: 0.5em 0.5em 0.4em;
	transition: 0.4s;
	border-radius: 1em;
}

.music-art-container {
	.music-art-button {
		height: 180px;
		width: 320px;
		background: #2a2a2a;
		border-radius: 1rem;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		.music-art {
			height: 180px;
			width: 320px;
			display: flex;
			align-items: center;
			justify-content: center;
			.default-img {
				height: 36px;
				width: 36px;
			}
		}
	}

	.play-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		font-size: 3rem;
		background: #222;
		border: 1px solid #444;
		border-radius: 1rem;
		padding: 15px;
		opacity: 0;
		height: 150px;
		width: 290px;
	}

	.play-icon:hover {
		cursor: pointer;
		background: #333;
	}

	.now-playing-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: 180px;
		width: 320px;
		background: #000000cc;
		border: 1px solid #333;
		border-radius: 1rem;
	}

	.now-playing {
		height: 50px;
		width: 50px;
	}

}

.anchor-area {
	height: 180px;
	width: 100%;
}

.element-info {
	margin-left: 1em;
	margin-top: 1em;
	width: 90%;

	.title {
		height: 1.4em;
		width: 100%;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.3rem;
		white-space: nowrap;
		display: flex;
		align-items: center;
	}

	.author {
		width: 50%;
		opacity: 0.5;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1rem;
		margin: 1em 0;
	}

	.duration {
		font-family: 'Montserrat', sans-serif;
		font-size: 0.9rem;
		background: #00000077;
		color: #fff;
		position: absolute;
		left: 2.8%;
		padding: .4em;
		margin-top: 3.4em;
		border-radius: .4em;
	}

	.view-count {
		font-family: 'Montserrat', sans-serif;
		font-size: 0.8rem;
		font-weight: 500;
		width: 100%;
		opacity: 0.5;
		margin: .4em 0;
	}
}

.option-button {
	height: 180px;
	width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.option-icon {
		width: 22px;
	}
}


@media (hover: hover) {
	.category:hover {
		cursor: pointer;
		background: #fff;

		div {
			color: #000;
		}
	}
	.element:hover {
		background: #222;

		.music-art-container {
			.music-art-button {
				.play-icon {
					opacity: 0.8;
				}
			}
		}
	}
	.music-art-button:hover {
		cursor: pointer;
	}
}
