<script lang="ts">
	import { Turnstile } from 'svelte-turnstile';
	let reset: () => void | undefined;
</script>

<svelte:head>
		<title>Login anonymously - Rhythmie</title>
</svelte:head>

<div class="container">
	<form class="form" method="POST" action="/anonymous">
		<div class="heading">
			Let's see if you're a human
		</div>
		<img class="image" src="https://cdnl.iconscout.com/lottie/premium/thumb/confused-robot-5647510-4703493.gif" alt="Confused robot" />
		<div class="heading">
			Robots can't listen to music can they? :D
		</div>
		<Turnstile class="turnstile" bind:reset siteKey="0x4AAAAAAAZOFDBBckmWwuP7" />
		<div class="button-container">
			<button class="button" on:click={() => reset?.()} type="reset">Reset</button>
			<button class="button" type="submit">Continue</button>
		</div>
	</form>
</div>

<style lang="scss">
	@import '$lib/styles/anonymous/Anonymous';
</style>
