@mixin glass-pane {
  background: #17171700;
  border: 1px solid #333;
  backdrop-filter: blur(5px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 15vh;

  .category-title {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 3vh;
    display: flex;
    width: 62%;
  }

  .elements-container {
    @include glass-pane;
    border-radius: 1em;
    padding: 0.4em 1em;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .element {
      height: 5.9vh;
      width: 98%;
      display: flex;
      align-items: center;
      padding: 0.6em 0.6em;
      margin: 0.5em 0.5em 0.4em;
      transition: 0.4s;
      border-radius: 1em;
      background: #222;
    }
  }
}