@mixin glass-pane {
  background: #171717ea;
  border: 1px solid #333;
  backdrop-filter: blur(5px);
}

.suggestions-container {
  @include glass-pane;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.5vw;
  position: absolute;
  top: 4.8em;
  left: 14.7%;
  border-radius: 1em;
  padding: 2em 0;

  .top-suggestion {
    display: flex;
    align-items: center;
    height: 6em;
    width: 94%;
    margin-bottom: .6em;
    border: 1px solid #333;
    border-radius: 20rem;
    overflow: hidden;

    .song-art {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6em;
      width: 6em;
      border-radius: 20rem;
    }

    .song-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: .5em;
      height: 100%;
      width: 100%;

      .song-title {
        background: #333;
        height: 1.2rem;
        margin-bottom: .6em;
        width: 80%;
        border-radius: 2rem;
      }

      .song-artist {
        background: #333;
        height: .9rem;
        width: 60%;
        border-radius: 2rem;
      }

    }

    .button-container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 10%;
      margin-right: .7em;
    }
  }

  .suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .suggestion {
      display: flex;
      align-items: center;
      padding: .5em;
      width: 90%;
      margin-top: .6em;
      border-radius: 10rem;

      .suggestion-title {
        height: 1rem;
        background: #333;
        border-radius: 2rem;
        margin: 0 .8em;
        width: 100%;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }
}

@media (hover:hover) {
  .suggestion:hover {
    background: #272727;
  }

  .suggestion:hover {
    cursor: pointer;
  }

  .play-icon:hover {
    cursor: pointer;
  }
}