@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
}

.contents-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
	z-index: 0;
	margin-bottom: 14vh;

	.contents {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		.category-title {
			font-size: 1.6rem;
			font-family: 'Josefin Sans', sans-serif;
			margin-top: 20px;
			margin-bottom: 2vh;
			display: flex;
			align-items: center;
		}

		.top-result {
			@include glass-pane;
			border-radius: 20em;
			margin-top: 6vh;
			margin-bottom: 8vh;
			margin-left: -1%;
			display: flex;
			align-items: center;
			height: 150px;
			width: 100%;
			overflow: hidden;
		}

		.song-results {
			@include glass-pane;
			margin-bottom: 2em;
			border-radius: 1em;
			padding: 0.4em 1em;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;

			.element {
              background: #222;
				height: 5.9vh;
				width: 98%;
				display: flex;
				align-items: center;
				padding: 0.6em 0.7em;
				margin: 0.5em 0.5em 0.4em;
				transition: 0.4s;
				border-radius: 1em;
			}
		}

		.album-results {
			width: 100%;
			padding: 2em 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: -2%;
			border-radius: 1em;

			.element {
				@include glass-pane;
				padding: 1em;
				margin: 0 2.5%;
				text-align: left;
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				height: 227px;
				width: 180px;
			}
		}

		.artist-results {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: -2%;

			.element {
				@include glass-pane;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1em;
				margin: 0 2.5%;
				background: #171717;
				border-radius: 20px;
				height: 227px;
				width: 180px;
			}
		}
	}
}
