@mixin glass-pane {
  background: #17171700;
  border: 1px solid #333;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 28px #0f0f0f;
}

.category-title {
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 3vh;
  display: flex;
  width: 62%;
}

.elements-container {
  @include glass-pane;
  border-radius: 1em;
  padding: 0.4em 1em;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element {
  width: 98%;
  display: flex;
  align-items: center;
  padding: 0.6em 0.6em;
  margin: 0.5em 0.5em 0.4em;
  transition: 0.4s;
  border-radius: 1em;
}

.music-art-container {

  .music-art-button {
    height: 180px;
    width: 320px;
    background: #2a2a2a;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .music-art {
      display: flex;
      align-items: center;
      justify-content: center;
      .default-img {
        height: 36px;
        width: 36px;
      }
    }
  }

  .play-icon {
    position: absolute;
    font-size: 2rem;
    background: #222;
    padding: 15px;
    opacity: 0;
    border-radius: 20em;
  }

  .play-icon:hover {
    cursor: pointer;
    background: #333;
  }
}

.element-info {
  margin-left: 1em;
  width: 90%;

  .title {
    background: #333;
    height: 1.4em;
    width: 100%;
    border-radius: 1em;
    font-size: 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .author {
    background: #333;
    height: 1em;
    width: 50%;
    border-radius: 1em;
    opacity: 0.5;
    font-size: 14px;
    margin: 1em 0;
  }

  .description {
    background: #333;
    height: 6em;
    width: 100%;
    border-radius: 1em;
    opacity: 0.5;
    font-size: 14px;
  }
}

.option-button {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .option-icon {
    width: 22px;
  }
}

@media (hover: hover) {
  .category:hover {
    cursor: pointer;
    background: #fff;

    div {
      color: #000;
    }
  }
  .element:hover {
    background: #222;

    .music-art-container {
      .music-art-button {
        .play-icon {
          opacity: 0.8;
        }
      }
    }
  }
  .music-art-button:hover {
    cursor: pointer;
  }
}
