@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-top: 1em;
	margin-bottom: 17vh;
}

.song-info-container {
	@include glass-pane;
	display: flex;
	align-items: center;
	height: 50vh;
	width: 80%;
	padding: 1.2em 5em;
	border-radius: 1.5em;
	overflow: hidden;
}

.background {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	filter: blur(10px) brightness(35%);

	img {
		height: 100%;
		width: 100%;
	}
}

.song-cover {
	img {
		height: 360px;
		width: 360px;
		border-radius: 1em;
	}
}

.song-info {
	margin: 2em;
}

.song-title {
	.title {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 4rem;
	}
}

.song-album-info {
	display: flex;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;

	a {
		display: flex;
		align-items: center;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 1.2rem;
		margin-right: 0.3em;
	}

	span {
		margin-bottom: 0.2em;
		margin-right: 0.2em;
	}
}

.song-artist {
	margin: 0.8em 0;
	display: flex;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2rem;
	width: fit-content;
	max-width: 100%;

	img {
		height: 28px;
		width: 28px;
		border-radius: 2em;
		border: 2px solid #aaa;
		margin-right: 0.5em;
		margin-bottom: 0.1em;
	}
}
.song-other-info {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}
.song-controls {
	margin-top: 1em;
	margin-left: 2em;
	display: flex;
	align-items: center;

	button {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.2rem;
	}

	.play-button {
		display: flex;
		align-items: center;
		padding: 0.7em 0.9em 0.5em;
		background: #eee;
		border-radius: 10em;
		color: #000;
		margin-right: 1em;

		span {
			color: #000;
			padding-right: 0.2em;
		}
	}
	.add-button {
		display: flex;
		align-items: center;
		padding: 0.7em 0.8em 0.5em;
		border: 1px solid #eee;
		color: #fff;
		border-radius: 10em;
		margin-right: 0.3em;

		span {
			padding-right: 0.4em;
		}
	}
	.more-button {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0.4em;
		border-radius: 10em;

		span {
			font-size: 1.4em;
		}
	}
}

.sub-section-title {
	margin-top: 2%;
	font-size: 1.1rem;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	opacity: 0.7;
}

.songs-container {
	@include glass-pane;
	border-radius: 1em;
	padding: 0.4em 1em;
	height: 100%;
	width: 87%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2% 0;

	button {
		width: 100%;
		display: flex;
	}
}

.element {
	width: 98%;
	display: flex;
	align-items: center;
	padding: 0.6em 0.6em;
	margin: 0.5em 0.5em 0.4em;
	transition: 0.4s;
	border-radius: 1em;

	.music-art-container {
		display: flex;
		justify-content: center;
		align-items: center;
		.music-art-button {
			height: 50px;
			width: 50px;
			background: #2a2a2a;
			border-radius: .7em;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;

			.play-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				font-size: 2rem;
				background: #222;
				opacity: 0;
			}

			.now-playing-container {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 50px;
				width: 50px;
				background: #000000cc;
				border: 1px solid #333;
				border-radius: .7em;
			}

			.now-playing {
				height: 60%;
				width: 60%;
			}

			.music-art {
				display: flex;
				align-items: center;
				justify-content: center;
				.default-img {
					height: 36px;
					width: 36px;
				}
			}
		}
	}
}

.index-container {
	height: 50px;
	width: 4%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.7;
}

.play-icon {
	position: absolute;
	width: 20px;
	background: #222;
	padding: 15px;
	opacity: 0;
}

.duration {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	color: #666;
	position: absolute;
	right: 6%;
}

.element-info {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	width: 100%;

	.title {
		height: 14px;
		width: 100%;
		margin-bottom: 10px;
		border-radius: 100px;
		font-size: 17px;
		white-space: nowrap;
		display: flex;
		align-items: center;

		.explicit {
			background: #666;
			border-radius: 0.3em;
			padding: 0.1em 0.4em;
			font-size: 0.8rem;
			color: #171717;
			margin-left: 0.6em;
		}
	}

	.artist {
		text-align: left;
		height: 10px;
		width: 100%;
		border-radius: 100px;
		opacity: 0.5;
		font-size: 14px;
	}
}

.option-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.option-icon {
		width: 22px;
	}
}

.see-more {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		margin-left: 0.5em;
		font-size: 1.2rem;
	}
}

.copyright-info {
	margin-top: 1em;
	opacity: 0.6;
}

@media (hover: hover) {
	.song-info-container {
		button:hover {
			cursor: pointer;
			transform: scale(1.07);
		}
	}

	.more-button:hover {
		background: #2a2a2a;
		transform: scale(1);
	}

	.element:hover {
		background: #222;

		.music-art-container {
			.music-art-button {
				.play-icon {
					cursor: pointer;
					opacity: 0.9;
				}
			}
		}
	}
}
