@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-top: 1em;
	margin-bottom: 15vh;

	.album-info-container {
		display: flex;
		align-items: center;
		width: 90%;

		.album-cover {
			img {
				height: 360px;
				width: 360px;
				border-radius: 1em;
			}
		}

		.album-info {
			margin: 2em;

			.album-title {
				.title {
					text-transform: uppercase;
					font-family: 'Montserrat', sans-serif;
					font-weight: 800;
					font-size: 4rem;
				}
			}

			.album-artist {
				margin-top: -1%;
				margin-bottom: 6%;
				display: flex;
				align-items: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 1.4rem;

				img {
					height: 28px;
					width: 28px;
					border-radius: 2em;
					border: 2px solid #aaa;
					margin-right: .5em;
					margin-bottom: .1em;
				}
			}
			.album-duration {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 1.2rem;
			}
		}
	}
	.album-controls {
		margin-top: 1em;
		display: flex;
		align-items: center;

		button {
			font-family: 'Josefin Sans', sans-serif;
			font-size: 1.2rem;
		}

		.play-button {
			display: flex;
			align-items: center;
			padding: .7em .9em .5em;
			background: #eee;
			border-radius: 10em;
			color: #000;
			margin-right: 1em;

			span {
				color: #000;
				padding-right: .2em;
			}
		}
		.add-button {
			display: flex;
			align-items: center;
			padding: .7em .8em .5em;
			border: 1px solid #eee;
			color: #fff;
			border-radius: 10em;
			margin-right: .3em;

			span {
				padding-right: .4em;
			}
		}
		.more-button {
			display: flex;
			align-items: center;
			height: 100%;
			padding: .4em;
			border-radius: 10em;

			span {
				font-size: 1.4em;
			}
		}
	}

	.songs-container {
		@include glass-pane;
		border-radius: 1em;
		padding: 0.4em 1em;
		height: 100%;
		width: 88%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 2%;

		button {
			width: 100%;
			display: flex;
		}


		.element {
			width: 98%;
			display: flex;
			align-items: center;
			padding: 0.6em 0.6em;
			margin: 0.5em 0.5em 0.4em;
			transition: 0.4s;
			border-radius: 1em;

				.index-container {
					height: 50px;
					width: 4%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

					.play-button {
						position: absolute;
						visibility: hidden;
					}

					.index {
						font-size: 1rem;
						font-family: 'Montserrat', sans-serif;
						opacity: .7;
					}


				.play-icon {
					position: absolute;
					width: 20px;
					background: #222;
					padding: 15px;
					opacity: 0;
				}
			}
			.duration {
				font-family: 'Montserrat', sans-serif;
				font-size: 0.9rem;
				color: #666;
				position: absolute;
				right: 6%;
			}

			.element-info {
				display: flex;
				flex-direction: column;
				margin-left: .9em;
				width: 100%;

				.title {
					height: 14px;
					width: 100%;
					margin-bottom: 10px;
					border-radius: 100px;
					font-size: 17px;
					white-space: nowrap;
					display: flex;
					align-items: center;

					.explicit {
						background: #666;
						border-radius: .3em;
						padding: .1em .4em;
						font-size: .8rem;
						color: #171717;
						margin-left: .6em;
					}
				}

				.artist {
					text-align: left;
					height: 10px;
					width: 100%;
					border-radius: 100px;
					opacity: 0.5;
					font-size: 14px;
				}
			}

			.option-button {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.option-icon {
					width: 22px;
				}
			}

			.see-more {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				span {
					margin-left: 0.5em;
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (hover:hover) {
	.album-info-container {
		button:hover {
			cursor: pointer;
			transform: scale(1.07);
		}
	}
	.more-button:hover {
		background: #2a2a2a;
		transform: scale(1);
	}

	.element:hover {
		cursor: pointer;
		background: #222;
	}
}
