<script lang="ts">
	import dots from '$lib/resources/dots.png';
	import playing from '$lib/resources/playing.gif';
	import { limitString, playSongInSequence } from '$lib';
	import { playerData } from '../../../../store';
	import defaultImg from '$lib/resources/default.png';
	import fav from '$lib/resources/fav.png';
	import unfav from '$lib/resources/unfav.png';
	import likedImage from '$lib/resources/liked-songs.png';
	import accountImg from '$lib/resources/account.png';
	import { onMount } from 'svelte';
	import type { Queue } from '$lib/types/storeTypes';

	let results: Queue[];
	let likeState = fav;

	// $: if (results) background = results.image[2].url;

	// songInfo.subscribe((value) => {
	// 	if (value) results = value.data[0];
	// });

	// const playSong = async () => {
	// 	playerData.set(results);
	// 	queue.set([results]);
	// 	await fetchVideo(results.name, results.artists.primary);
	// };

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};

	onMount(async () => {
		if (localStorage.getItem('likedSongs')) {
			results = JSON.parse(localStorage.getItem('likedSongs') ?? '');
		}
	});
</script>

<svelte:head>
	{#if !$playerData}
		<title>Liked Songs | Rhythmie</title>
	{/if}
</svelte:head>

<section class="container">
	<div class="album-info-container">
		<div class="album-cover">
			<img src={likedImage} alt="" />
		</div>
		<div class="album-info">
			<h1 class="album-title">
				<div class="title">Liked Songs</div>
			</h1>
			<a data-sveltekit-preload-data="tap" href="/browse/artist?id=hehe" class="album-artist">
				<img src={accountImg} alt="" />
				hehe
			</a>
			{#if results}
				<p class="album-duration">Updated 20 hours ago · {results.length} songs</p>
			{/if}
			<div class="album-controls">
				<button class="play-button">
					<span class="material-symbols-rounded"> play_arrow </span>
					Play
				</button>
				<button class="add-button">
					<span class="material-symbols-rounded"> add_circle </span>
					Add to My Library
				</button>
				<button class="more-button">
					<span class="material-symbols-rounded"> more_vert </span>
				</button>
			</div>
		</div>
	</div>
	<div class="songs-container">
		{#if results}
			{#each results as item, index}
				<button class="element">
					<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button" on:click={() => playSongInSequence(results, index)}>
							<span class="play-icon material-symbols-rounded"> play_arrow </span>
							{#if $playerData}
								{#if $playerData.id === item.id}
									<div class="now-playing-container">
										<img class="now-playing" src={playing} alt="Now playing" />
									</div>
								{/if}
							{/if}
							<object
								class="music-art"
								data={item.image[0].url}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
					</div>
					<div class="element-info">
						<div class="title">
							{item.name}
							<!-- {#if item.explicitContent}
										<span class="explicit">E</span>
									{/if} -->
						</div>
						<div class="artist">{limitString(item.artists.primary[0].name, 26)}</div>
					</div>
					<!-- <div class="duration">{converter(item.duration)}</div> -->
					<button class="like-button">
						<img draggable={false} class="like-icon" src={likeState} alt="" />
					</button>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</button>
			{/each}
		{/if}
	</div>
</section>

<style lang="scss">
	@import '$lib/styles/library/liked/Liked';
</style>
