<section class="cards-container">
	{#each Array(20) as _, index (index)}
		<div class="homeCard">
			<div class="homeCardImg"></div>
			<div class="homeCardTitle"></div>
			<div class="homeCardArtist"></div>
		</div>
	{/each}
</section>

<style lang="scss">
	@import '$lib/styles/components/skeletons/CardsSkeleton';
</style>
