<script lang="ts">
	import defaultImg from '$lib/resources/default-alt.png';
</script>

<div class="body-container">
	<div class="search-history-container">
		<div class="search-history">
			<div class="search-history-text">Recent searches</div>
			{#each Array(10) as _}
				<div class="search-term">
					<span class="material-symbols-rounded mostRecentSearchIcon"> history </span>
				</div>
			{/each}
		</div>
		<button class="clear-history mostRecentSearch">
			<span class="material-symbols-rounded mostRecentSearchIcon"> clear_all </span>
			<div>Clear search history</div>
		</button>
	</div>
	<div class="play-history-container">
		<div class="search-history-text">Recently played</div>
		<div class="play-history">
			{#each Array(6) as _}
				<div class="play-history-term">
					<div class="image-container">
						<img class="image" src={defaultImg} alt="Alt song art" />
					</div>
					<div class="play-history-info">
						<div class="title"></div>
						<div class="artists"></div>
					</div>
				</div>
			{/each}
		</div>
		<button class="clear-history mostRecentSearch">
			<span class="material-symbols-rounded mostRecentSearchIcon"> clear_all </span>
			<div>Clear play history</div>
		</button>
	</div>
</div>

<style lang="scss">
	@import '$lib/styles/components/skeletons/ExploreSkeleton';
</style>
