<script lang="ts">
	// Assets imports
	import fav from '$lib/resources/unfav.png';
	import dots from '$lib/resources/dots.png';
	import volumeButton from '$lib/resources/volume.png';
	import defaultImg from '$lib/resources/default.png';
	import shuffle from '$lib/resources/shuffle.png';
	import prev from '$lib/resources/prev.png';
	import play from '$lib/resources/play.png';
	import next from '$lib/resources/next.png';
	import repeat from '$lib/resources/repeat.png';
</script>

<div class="player">
	<div class="song-info-container">
		<a href="/" class="song-art-container">
			<img
				src={defaultImg}
				draggable={false}
				class="song-art"
				alt="Song art"
			/>
		</a>
		<div class="song-info">
			<div class="song-title">
				<div class="song-name"></div>
				<div class="song-artist"></div>
			</div>
		</div>
	</div>
	<div class="controls-container">
		<div class="controls">
			<img draggable={false} class="shuffle-button" src={shuffle} alt="Shuffle" />
			<img draggable={false} class="prev-button" src={prev} alt="Previous" />
			<button>
				<img
					draggable={false}
					class="play-pause-button"
					src={play}
					alt="Play/Pause Button"
				/>
			</button>
			<img draggable={false} class="next-button" src={next} alt="Next" />
			<img draggable={false} class="repeat-button" src={repeat} alt="Repeat" />
		</div>
		<div class="total-seek">
			<div class="current-duration">--:--</div>
			<input
				class="seekbar"
				type="range"
				min="0"
				max="100"
				step="1"
				value="0"
			/>
			<div class="total-duration">--:--</div>
		</div>
	</div>
	<div class="other-icons">
		<img draggable={false} class="fav-button" src={fav} alt="" />
		<img draggable={false} class="bottom-menu" src={dots} alt="" />
		<img draggable={false} class="volume-button" src={volumeButton} alt="" />

		<div class="volume-slider-container">
			<input class="volume-slider" type="range" min="0.0" max="1.0" step="0.1" value="1" />
		</div>
	</div>
</div>

<style lang="scss">
  @import '$lib/styles/components/Player.scss';

  #musicInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #f00;
    width: 20%;
    height: 100%;
    margin-left: .8em;
  }

  #songArt {
    border-radius: 20rem;
  }
  #songName {
    height: .9em;
    width: 80%;
    background: #333;
    margin-bottom: .5em;
    border-radius: 1em;
  }
  #songArtist {
    height: .8em;
    width: 40%;
    background: #333;
    border-radius: 1em;
  }
</style>
