<script>
import { searchQuery } from '../../../store';
</script>

<!-- Display the search results when not loading -->
<div class="container">
	<div class="category-title">Searching for "{$searchQuery}"</div>
	<section class="elements-container">
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
		<div class="element"></div>
	</section>
</div>

<style lang="scss">
	/**
	 * Importing styles for the skeleton.
	 */
	@import '$lib/styles/components/skeletons/SongsSkeleton.scss';
</style>
