<script lang="ts">
	import play from '$lib/resources/play-button.png';
	import defaultImg from '$lib/resources/default.png';
</script>

	<section class="suggestions-container">
		<div class="top-suggestion">
				<img class="song-art" src={defaultImg} alt="Default" />
			<div class="song-info">
				<div class="song-title"></div>
				<div class="song-artist"></div>
			</div>
			<div class="button-container">
				<button type="button">
					<img draggable={false} class="play-icon" src={play} alt="" />
				</button>
			</div>
		</div>
		<div class="suggestions">
			{#each Array(3) as _}
				<div class="suggestion">
					<span class="material-symbols-rounded search-icon"> search </span>
					<div class="suggestion-title"></div>
					<button>
						<span class="material-symbols-rounded up-arrow"> north_west </span>
					</button>
				</div>
			{/each}
		</div>
	</section>

<style lang="scss">
  @import '$lib/styles/components/skeletons/SuggestionsSkeleton';
</style>
