<script lang="ts">
	import { searchQuery } from '../../../store';
</script>

<!-- Display the search results when not loading -->
	<div class="contents-container">
		<section class="contents">
			<div>
				<div class="top-result-title category-title">Searching for "{$searchQuery}"</div>
				<div class="top-result"></div>

				<div class="songs-title category-title">Songs</div>
				<div class="song-results">
					<div class="element"></div>
					<div class="element"></div>
					<div class="element"></div>
				</div>

				<div class="albums-title category-title">Albums</div>
				<div class="album-results">
					<div class="element"></div>
					<div class="element"></div>
					<div class="element"></div>
				</div>

				<div class="artist-title category-title">Artists</div>
				<div class="artist-results">
					<div class="element"></div>
					<div class="element"></div>
					<div class="element"></div>
				</div>
			</div>
		</section>
	</div>

<style lang="scss">
  /**
	 * Importing styles for the skeleton.
	 */
  @import '$lib/styles/components/skeletons/TopresultsSkeleton.scss';
</style>
