<script lang="ts">
	import defaultImg from '$lib/resources/default-alt.png';
	import dots from '$lib/resources/dots.png';

	export let limit: number;
</script>


{#each Array(limit) as _, index (index)}
	<div class="element">
		<div class="music-art-container">
			<button class="music-art-button">
					<span class="play-icon material-symbols-rounded">
						play_arrow
					</span>
					<img class="default-img" src={defaultImg} alt="" />
			</button>
		</div>
		<div class="element-info">
			<div class="title"></div>
			<div class="author"></div>
			<div class="description"></div>
		</div>
		<button class="option-button">
			<img draggable={false} class="option-icon" src={dots} alt="" />
		</button>
	</div>
{/each}

<style lang="scss">
	@import '$lib/styles/components/skeletons/VideosSkeleton';
</style>