.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.support-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  padding-bottom: .4em;
  border-bottom: 2px solid #444;
}

.support-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  a {
    border: 1px solid #777;
    padding: .6em 1em;
    margin: 0 .15em;
  }

  .active {
    background: #8d3eff;
    color: #fff;
  }

  a:hover {
    background: #ddd;
    color: #000;
    cursor: pointer;
  }

  a:nth-child(1){
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
  }
  a:nth-last-child(1) {
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
  }
}

.inner-container {
  margin: 3% 0;
  width: 78%;
  backdrop-filter: blur(8px);
  border: 1px solid #444;
  padding: 3em 3em;
  border-radius: 2em;
}

.branding-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.branding-icon {
  img {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 20rem;
    background: #fff;
  }
}

.branding-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  margin-left: .2em;
}

.container-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: .2em;
}

.policy-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 1em;
}

.we-do-not-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.we-do-not-section {
  margin-bottom: 2em;
}

.we-do-not {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin: .5em 0;

  span {
    font-size: 1.2rem;
    margin-right: .25em;
  }
}

//.policy-content {
//  ul {
//    li {
//      font-size: 1.1rem;
//    }
//  }
//}
//
//.policy-content-title {
//  font-size: 1.5rem;
//}