<script lang="ts">
	import dots from '$lib/resources/dots.png';
	import { artists, converter, enqueue, fetchSong, fetchVideo, limitString, playSongInSequence } from '$lib';
	import { artistInfo, artistInfoLoading, playerData, queue } from '../../../../store';
	import defaultImg from '$lib/resources/default-alt.png';

	let results: object;

	const handleImageError = (event: Event) => {
		event.target.src = defaultImg;
	};

	const playArtist = async () => {
		queue.set([]);
		results.data.topSongs.forEach((song: object) => {
			enqueue(song);
		});
		playerData.set(results.data.topSongs[0]);
		await fetchVideo(results.data.topSongs[0].name, results.data.topSongs[0].artists.primary);
	};

	artistInfo.subscribe((value) => {
		results = value;
	});
</script>

<svelte:head>
	{#if !$playerData}
		<title>{results.data.name} | Rhythmie</title>
	{/if}
</svelte:head>

{#if $artistInfoLoading}
	<div class="loading-container">
		<div class="loading">Loading...</div>
	</div>
{:else}
	<section class="container">
		<div class="artist-info-container">
			<div class="artist-cover">
				<img src={results.data.image[2].url} alt="" />
			</div>
			<div class="artist-info">
				<div class="artist-title">
					<div class="title">{results.data.name}</div>
				</div>
				<div class="artist-duration">Artist • {results.data.followerCount} fans</div>
				<div class="artist-controls">
					<button class="play-button" on:click={playArtist}>
						<span class="material-symbols-rounded"> play_arrow </span>
						Play
					</button>
					<button class="add-button">
						<span class="material-symbols-rounded"> add_circle </span>
						Add to My Library
					</button>
					<button class="more-button">
						<span class="material-symbols-rounded"> more_vert </span>
					</button>
				</div>
			</div>
		</div>
		<div class="category-title">Popular</div>
		<div class="songs-container">
			{#each results.data.topSongs as item, index}
				<button class="element">
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button" on:click={() => playSongInSequence(results.data.topSongs, index)}>
							<span class="play-icon material-symbols-rounded"> play_arrow </span>
							<object
								class="music-art"
								data={item.image[0].url}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
					</div>
					<div class="element-info">
						<div class="title">
							{item.name}
							{#if item.explicitContent}
								<span class="explicit">E</span>
							{/if}
						</div>
						<div class="artist">{artists(item.artists.primary)}</div>
					</div>
					<div class="duration">
						{converter(item.duration)}
					</div>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</button>
			{/each}
		</div>

		<div class="category-title">Top Albums</div>
		<div class="top-albums-container">
			{#each results.data.topAlbums as item}
				<a href="/browse/album?id={item.id}" class="element">
					<div class="album-art">
						<object class="image" data={item.image[1].url} type="image/png" aria-label="Song Art">
							<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
						</object>
					</div>
					<div class="element-info">
						<div class="title">
							{limitString(item.name, 19)}
							{#if item.explicitContent}
								<span class="explicit">E</span>
							{/if}
						</div>
						<div class="description">{item.year} • {item.songCount} songs</div>
					</div>
				</a>
			{/each}
		</div>

		<div class="category-title">Similar artists</div>
		<div class="similar-artists-container">
			{#each results.data.similarArtists as item}
				<a data-sveltekit-preload-data="tap" href="/browse/artist?id={item.id}" class="element">
					<div class="artist-profile">
						<object class="image" data={item.image[1].url} type="image/png" aria-label="Song Art">
							<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
						</object>
					</div>
					<div class="element-info">
						<div class="title">
							{item.name}
						</div>
						<div class="description">{item.type}</div>
					</div>
				</a>
			{/each}
		</div>
	</section>
{/if}

<style lang="scss">
	@import '$lib/styles/browse/artist/Artist.scss';
</style>
