<script lang="ts">
	// Importing functions and assets
	import {
		converter,
		fetchVideoById,
		formatNumber,
		limitString,
		searchVideos,
		timeConverter
	} from '$lib';

	import play from '$lib/resources/play.png';
	import dots from '$lib/resources/dots.png';
	import defaultImg from '$lib/resources/default-alt.png';
	import { isLoading, playerData, searchQuery, videoResults } from '../../../../../store';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	import VideosSkeleton from '$lib/components/skeletons/VideosSkeleton.svelte';
	import playing from '$lib/resources/playing.gif';

	onMount(() => {
		const query = $searchQuery;
		if (query) {
			console.log('Searching...');
			searchVideos(query);
		}
	});

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};
</script>

<!-- The section element acts as a container for the song results -->
<section class="container">
	<div class="category-container">
		<!-- Navigation for search categories -->
		<span class="material-symbols-rounded back-button"> arrow_back_ios </span>
		<a data-sveltekit-preload-data="tap" href="/explore/search{$page.url.search}" class="category">
			<div>Top Results</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/songs{$page.url.search}"
			class="category"
		>
			<div>Songs</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/videos{$page.url.search}"
			class="category active-category"
		>
			<div>Videos</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/albums{$page.url.search}"
			class="category"
		>
			<div>Albums</div>
		</a>
		<a
			data-sveltekit-preload-data="tap"
			href="/explore/search/artists{$page.url.search}"
			class="category"
		>
			<div>Artists</div>
		</a>
	</div>
	{#if !$videoResults}
		<VideosSkeleton limit={10} />
	{:else}
		<div class="category-title">Music Videos for "{$searchQuery}"</div>
		<div class="elements-container">
			<!-- Iterating over each song in the localResults data -->
			{#each $videoResults as item}
				<div class="element">
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button" on:click={() => fetchVideoById(item.videoId)}>
							<span class="play-icon material-symbols-rounded"> play_arrow </span>
							{#if $playerData}
								{#if $playerData.id === item.videoId}
									<div class="now-playing-container">
										<img class="now-playing" src={playing} alt="Now playing" />
									</div>
								{/if}
							{/if}
							<object
								class="music-art"
								data={item.videoThumbnails ? item.videoThumbnails[0].url : play}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
					</div>
					<a class="anchor-area" href="/browse/video?id={item.videoId}">
						<div class="element-info">
							<div class="title">{limitString(item.title, 60)}</div>
							<div class="author">{limitString(item.author, 32)}</div>
							<div class="duration">{item.lengthSeconds ? converter(item.lengthSeconds) : ''}</div>
							<div class="view-count">
								{formatNumber(item.viewCount)} views &#8226; {timeConverter(item.published)}
							</div>
						</div>
					</a>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</div>
			{/each}
			{#if $isLoading.videos}
				<VideosSkeleton limit={10} />
			{/if}
		</div>
	{/if}
</section>

<style lang="scss">
	@import '$lib/styles/explore/search/videos/Videos';
</style>
