//$background-svg: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(23%2c 23%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M2173.04 96C1966.4 106.83 1809.3 474.68 1436.7 474 1064.11 473.32 936.01-95.74 700.37-133.17' stroke='rgba(55%2c 55%2c 55%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1980.47 895.25C1832.06 890.84 1801.33 746.24 1431.6 668.45 1061.87 590.66 1105.49-41.46 882.73-143.51' stroke='rgba(55%2c 55%2c 55%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2042.47 827.28C1883.39 811.27 1851.17 524.71 1511.44 470.88 1171.71 417.05 1161.45-6.92 980.41-47.38' stroke='rgba(55%2c 55%2c 55%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2106.67 453.43C1951.55 452.61 1803.86 318.43 1501.06 318.43 1198.25 318.43 1211.8 457.42 895.44 453.43 579.09 449.44 483.96-17.15 289.83-48.3' stroke='rgba(55%2c 55%2c 55%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1936.29 769.94C1727.87 772.8 1499.45 1055.62 1140.4 1018.34 781.36 981.06 942.56 158.15 742.46-42.24' stroke='rgba(55%2c 55%2c 55%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e";

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url('$lib/resources/background.png');
    background-color: #171717;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
