@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin glass-pane {
    border: 1px solid #444;
    filter: drop-shadow(0 0 20px #000);
    background: #1717171e;
}

* {
    font-family: 'Raleway', sans-serif;
    font-display: swap;
    transition: .2s;
    color: #fff;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 18em;
    padding-top: 6em;
    scroll-behavior: smooth;

    .row {
        display: flex;
    }
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #171717;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#musicArt {
    visibility: hidden;
}

::-webkit-scrollbar {
    background: #171717;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 20px;
}
