
.nowplaying-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  //animation: entry .4s ease;
}

@keyframes entry {
  from {
    top: 170vh;
  } to {
    top: 0;
  }
}

.background-video {
  position: absolute;
  z-index: -1;

  video {
    filter: blur(1em) brightness(50%);
    width: 110vw;
  }
}

.background-image {
  position: absolute;
  z-index: -2;

  img {
    filter: blur(50px) brightness(50%);
    width: 110vw;
    animation-name: background;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
}

@keyframes background {
  50% {
    filter: blur(16px) brightness(26%);
  }
}

.nowplaying {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -3%;
  width: 80%;
  padding-left: 7%;
}

.image-container {
  height: 450px;
  width: 450px;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 1em;

  img {
    height: 100%;
    width: 100%;
    border-radius: 1.6rem;
  }
}

.nowplaying-info {
  height: 30%;
  width: 100%;
  z-index: 1;
  margin-bottom: 2.5em;
}

.song-title {
  height: 30%;
  width: 150%;
  border-radius: 2rem;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
}

.song-artist {
  margin-top: 0.7em;
  margin-left: 0.1em;
  border-radius: 2rem;
  color: #8f49ff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  width: 35vw;
}

.music-video {
display: flex;
}

.music-video-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.music-video-button {
  display: flex;
  align-items: center;
  background: #17171777;
  border: 1px solid #333;
  border-radius: 20rem;

  img {
    width: 60px;
    margin-left: -.4em;
  }

  .play-button-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin: .5em;
  }
}

.music-video-button:hover {
  cursor: pointer;
  background: #171717;
}

.disabled-button {
  opacity: .3;
  cursor: not-allowed;
}

.ambient-video-button {
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17171777;
  border: 1px solid #333;
  border-radius: 20rem;
  height: 60px;
  width: 60px;

  .play-button-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin: .5em;
  }
}

.ambient-video-button:hover {
  cursor: pointer;
  background: #171717;
}

.synced-lyrics-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: .4s;
  padding-top: 30%;
  margin-bottom: 10em;
  padding-right: 4%;
}

.blurred-lyrics {
  filter: blur(2.5px);
}

.synced-lyric {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 4%;
  height: fit-content;
  width: 100%;
  opacity: .3;
  transition: .3s;
  margin-left: .3em;
  text-align: left;
}

.active-lyric, .synced-lyric:hover {
  cursor: pointer;
  opacity: 1;
  padding: 2% 0;
  filter: none;
  text-shadow: 0 0 7px #777;
}

.synced-lyrics-written-by {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  width: 100%;
  opacity: .3;
  margin-left: 1%;
  margin-bottom: 60%;

  div {
    width: 70%;
    }
}

.box-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  transform: translateY(-3em);
  margin-right: 4em;
}

.box-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25vw;
  background: #1717179f;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  border: 1px solid #444;
  box-shadow: 0 -10px 30px #0f0f0f inset,
}

.box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box-pill-container {
  display: flex;
  align-items: center;
  padding-left: 5%;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

.box-pill {
  display: flex;
  border: 1px solid #444;
  border-radius: 20rem;
  overflow: hidden;
}

.song-lyrics {
  display: block;
  padding-bottom: 4em;
}
.lyrics-title, .queue-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  padding: .4em .8em;
}

.lyrics-title:hover, .queue-title:hover {
  cursor: pointer;
  color: #fff;
}

.lyrics-title {
  background: #272727;
}

.separator {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  color: #777;
}

.queue-title {
  color: #555;
}

.lyric {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 4%;
  width: 90%;
  margin-left: 5%;
  opacity: .6;
  transition: .25s;
}

.lyric:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 1.5rem;
  padding: 2% 0;
}

.written-by {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  margin-bottom: 4%;
  width: 90%;
  margin-left: 5%;
  opacity: .4;
}

.no-lyrics-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  opacity: .4;
}

.queue-outer-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 4em;
}

.queue-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.queue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.up-next-title, .later-title {
  display: flex;
  justify-content: flex-start;
  width: 97%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  margin: .5em 0;
}

.queue-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 1em;
  margin: .2em;
  padding: .4em;
  overflow: hidden;
}

.up-next {
  border-color: #444;
  margin-bottom: 1em;
}

.queue-item:hover {
  cursor: pointer;
  border-color: #444;
}

.queue-item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 1em;
  overflow: hidden;
  height: 50px;
  width: 68px;

  image {
    height: 100%;
    width: 100%;
  }
}

.queue-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  margin: 0 .7em;
}

.queue-item-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9rem;
}
.queue-item-artist {
  margin-top: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .7rem;
  opacity: .7;
}

.play-icon-container {
  margin-right: 1em;
}

.clear-icon {
  width: 20px;
  transform: rotateZ(45deg);
}

.lyric-bottom {
  position: fixed;
  bottom: 0;
  z-index: 4;
  height: 6em;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #000);
}