.cards-container {
	display: grid;
	grid-template-columns: 10.8em 10.8em 10.8em 10.8em;
	grid-template-rows: auto;
	gap: 2em;
	width: 50%;
	margin-top: .7em;
}
	.homeCard {
		height: 100%;
		width: 86%;
		opacity: 1;
		overflow: hidden;
		text-align: left;
		border-radius: 1.2em;
		background: #242424;
		border: 2px solid #222;

		.homeCardImg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			width: 150px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.homeCardTitle {
			height: 1.4rem;
			width: 100%;
			text-align: center;
			font-size: 0.9rem;
			margin-top: 0.6em;

			span {
				font-family: 'Josefin Sans', sans-serif;
			}
		}

		.homeCardArtist {
			height: 1rem;
			width: 100%;
			text-align: center;
			font-size: 0.7rem;
			opacity: 0.7;
		}
	}

@media (hover: hover) {
	.homeCard:hover {
		transform: scale(1.07);
		cursor: pointer;
	}
}

@media only screen and (max-width: 880px) {
	.homeCardImg,
	.homeCard {
		height: 150px;
		width: 150px;
	}
}

@media only screen and (max-width: 750px) {
	.homeCardImg,
	.homeCard {
		height: 110px;
		width: 110px;
	}
	.homeCardTitle {
		font-size: 14px;
	}
}

@media only screen and (max-width: 550px) {
	.homeCardTitle {
		margin-top: 5px;
		font-size: 12px;
	}
	.homeCardImg,
	.homeCard {
		height: 90px;
		width: 90px;
		border-radius: 12px;
	}
}
@media only screen and (max-width: 440px) {
	.homeCardTitle {
		margin-top: 5px;
		font-size: 13px;
	}
}
