<script lang="ts">
	import dots from '$lib/resources/dots.png';
	import playing from '$lib/resources/playing.gif';
	import { artists, converter, fetchVideo, limitString, playSongInSequence } from '$lib';
	import { moreSongsInfo, moreSongsLoading, playerData, queue, songInfo, songInfoLoading } from '../../../../store';
	import defaultImg from '$lib/resources/default.png';
	import defaultBG from '$lib/resources/landing/landing.gif';
	import { onMount } from 'svelte';

	let results: object;
	let background = defaultBG;

	$: if (results) background = results.image[2].url;

	songInfo.subscribe((value) => {
		if (value) results = value.data[0];
	});

	const playSong = async () => {
		playerData.set(results);
		queue.set([results]);
		await fetchVideo(results.name, results.artists.primary);
	};

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};

	onMount(async () => {
		if (results.artists.primary[0].id) {
			try {
				moreSongsLoading.set(true);
				const response = await fetch(
					`https://rhythmie-api.vercel.app/api/artists/${results.artists.primary[0].id}`,
					{
						headers: {
							origin: window.location.origin // Get origin from browser window
						}
					}
				);
				if (!response.ok) {
					throw new Error(`API request failed with status ${response.status}`);
				}

				const jsonData = await response.json();
				console.log(jsonData);
				moreSongsInfo.set(jsonData);
				moreSongsLoading.set(false);
			} catch (error) {
				console.error(error);
			}
		}
	});
</script>

<svelte:head>
	{#if !$playerData && results}
		<title>{results.name} - {results.artists.primary[0].name} | Rhythmie</title>
	{/if}
</svelte:head>

{#if $songInfoLoading}
	<div class="loading-container">
		<div class="loading">Loading...</div>
	</div>
{:else}
	<section class="container">
		<div class="song-info-container">
			<div class="background">
				<img src={background} alt="Background" />
			</div>
			<div class="song-cover">
				<img src={results.image[2].url} alt="" />
			</div>
			<div>
				<div class="song-info">
					<h1 class="song-title">
						<div class="title">{limitString(results.name, 34)}</div>
					</h1>
					<a
						data-sveltekit-preload-data="tap"
						href="/browse/artist?id={results.artists.primary[0].id}"
						class="song-artist"
					>
						{#if results.artists.primary[0].image[0]}
							<img src={results.artists.primary[0].image[0].url} alt="" />
						{/if}
						{results.artists.primary[0].name}
					</a>
					<div class="song-album-info">
						<a data-sveltekit-preload-data="tap" href="/browse/album?id={results.album.id}">
							<span class="material-symbols-rounded"> album </span>
							{limitString(results.album.name, 40)}
						</a>
						· {results.year} release
					</div>
					<p class="song-other-info">{converter(results.duration)} · {results.playCount} plays</p>
				</div>
				<div class="song-controls">
					<button on:click={playSong} class="play-button">
						<span class="material-symbols-rounded"> play_arrow </span>
						Play
					</button>
					<button class="add-button">
						<span class="material-symbols-rounded"> add_circle </span>
						Add to My Library
					</button>
					<button class="more-button">
						<span class="material-symbols-rounded"> more_vert </span>
					</button>
				</div>
			</div>
		</div>
		<div class="sub-section-title">
			More from {results.artists.primary[0].name}
		</div>
		<div class="songs-container">
			{#if !$moreSongsLoading}
				{#each $moreSongsInfo.data.topSongs as item, index}
					{#if item.id !== results.id}
						<button class="element">
							<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
							<div class="music-art-container">
								<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
								<button class="music-art-button" on:click={() => playSongInSequence($moreSongsInfo.data.topSongs, index)}>
									<span class="play-icon material-symbols-rounded"> play_arrow </span>
									{#if $playerData}
										{#if $playerData.id === item.id}
											<div class="now-playing-container">
												<img class="now-playing" src={playing} alt="Now playing" />
											</div>
										{/if}
									{/if}
									<object
										class="music-art"
										data={item.image[0].url}
										type="image/png"
										aria-label="Song Art"
									>
										<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
									</object>
								</button>
							</div>
							<div class="element-info">
								<div class="title">
									{item.name}
									{#if item.explicitContent}
										<span class="explicit">E</span>
									{/if}
								</div>
								<div class="artist">{limitString(artists(item.artists.primary), 40)}</div>
							</div>
							<div class="duration">{converter(item.duration)}</div>
							<button class="option-button">
								<img draggable={false} class="option-icon" src={dots} alt="" />
							</button>
						</button>
					{/if}
				{/each}
			{/if}
		</div>
		<div class="copyright-info">
			© {results.year}
			{results.label} · {results.releaseDate}
			{results.copyright}
		</div>
	</section>
{/if}

<style lang="scss">
	@import '$lib/styles/browse/song/Song';
</style>
