<script lang="ts">
	// Importing functions and assets
	import { converter, fetchSong } from '$lib';

	import play from '$lib/resources/play.png';
	import dots from '$lib/resources/dots.png';
	import defaultImg from '$lib/resources/default-alt.png';
	import { albumResults, isLoading, searchQuery } from '../../../../../store';
	import { page } from '$app/stores';
	import SongsSkeleton from '$lib/components/skeletons/SongsSkeleton.svelte';

	// Passing prop data received from the parent element to the localResults variable
	let results: any;

	albumResults.subscribe((value) => {
		results = value;
	});

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};
</script>

<!-- The section element acts as a container for the song results -->
<section class="container">
	<div class="category-container">
		<!-- Navigation for search categories -->
		<span class="material-symbols-rounded back-button"> arrow_back_ios </span>
		<a data-sveltekit-preload-data="tap" href="/explore/search{$page.url.search}" class="category">
			<div>Top Results</div>
		</a>
		<a data-sveltekit-preload-data="tap" href="/explore/search/songs{$page.url.search}" class="category">
			<div>Songs</div>
		</a>
		<a data-sveltekit-preload-data="tap" href="/explore/search/videos{$page.url.search}" class="category">
			<div>Videos</div>
		</a>
		<a data-sveltekit-preload-data="tap" href="/explore/search/albums{$page.url.search}" class="category active-category">
			<div>Albums</div>
		</a>
		<a data-sveltekit-preload-data="tap" href="/explore/search/artists{$page.url.search}" class="category">
			<div>Artists</div>
		</a>
	</div>
	{#if $isLoading.albums}
		<SongsSkeleton />
	{:else}
		<div class="category-title">Album results for "{$searchQuery}"</div>
		<div class="elements-container">
			<!-- Iterating over each song in the localResults data -->
			{#each results.data.results as item}
				<a href="/browse/album?id={item.id}" class="element">
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button">
						<span class="play-icon material-symbols-rounded">
							play_arrow
						</span>
							<object
								class="music-art"
								data={item.image[0].url}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
					</div>
					<div class="element-info">
						<div class="title">{item.name}</div>
						<div class="artist">{item.artists.primary[0].name}</div>
					</div>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</a>
			{/each}
		</div>
	{/if}
</section>

<style lang="scss">
	// Importing the Songs.scss file from the styles/components/explore directory in the lib directory
	@import '$lib/styles/explore/search/songs/Songs.scss';
</style>
