<script lang="ts">
	import logo from '$lib/resources/icon.png';
	import google from '$lib/resources/google.png';
	import apple from '$lib/resources/apple.png';
	import facebook from '$lib/resources/facebook.png';
	import { Turnstile } from 'svelte-turnstile';
	let reset: () => void | undefined;

	let passwordBox: HTMLInputElement;
	let confirmPasswordBox: HTMLInputElement;
	let visibilityIcon: HTMLElement;
	let dialogBox: HTMLElement;
	let showPassword: boolean = false;

	function passwordHandler(event: Event) {
		event.preventDefault();
		if (showPassword) {
			visibilityIcon.innerHTML = 'visibility';
			passwordBox.type = 'password';
			confirmPasswordBox.type = 'password';
			showPassword = false;
		} else {
			visibilityIcon.innerHTML = 'visibility_off';
			passwordBox.type = 'text';
			confirmPasswordBox.type = 'text';
			showPassword = true;
		}
	}

	const handleDialog = (event: Event) => {
		event.preventDefault();
		dialogBox.style.display = 'flex';
	}
</script>

<svelte:head>
		<title>Create an account - Rhythmie</title>
</svelte:head>

<section class="main-container">
	<div class="container">
		<div class="primary-section">
			<div class="top-section">
				<div class="branding">
					<div class="branding-icon-container">
						<img class="branding-icon" src={logo} alt="Rhythmie logo" />
					</div>
					<div class="branding-text">Rhythmie</div>
				</div>
				<div class="greeting">
					<div class="heading">Let's get started</div>
					<div class="sub-heading">Continue with</div>
				</div>
			</div>

			<div class="social-container">
				<div class="social-option">
					<img src={google} class="social-icon" alt="Google icon" />
				</div>
				<div class="social-option">
					<img src={apple} class="social-icon" alt="Apple icon" />
				</div>
				<div class="social-option">
					<img src={facebook} class="social-icon" alt="Facebook icon" />
				</div>
			</div>

			<div class="or">
				OR
			</div>

			<a class="skip-button-container" href="/">
				<button class="skip-button">
					Use without an account
					<span class="material-symbols-rounded"> arrow_forward </span>
				</button>
			</a>
			<div class="link">
				Already in? <a href="/login">login here.</a>
			</div>
		</div>

		<form method="POST" action="/signup">
			<div class="sub-heading">Enter your credentials</div>
			<div class="form-element">
				<label for="name" class="label">Name</label>
				<input required minlength="2" type="text" id="name" name="name" placeholder="Your full name" />
			</div>
			<div class="form-element">
				<label for="email" class="label">E-mail</label>
				<input required minlength="5" type="email" id="email" name="email" placeholder="youremail@example.com" />
			</div>
			<div class="form-element">
				<label for="password" class="label">
					Password
					<button on:click={passwordHandler}>
						<span bind:this={visibilityIcon} class="material-symbols-rounded"> visibility </span>
					</button>
				</label>
				<input bind:this={passwordBox} required minlength="8" type="password" id="password" name="password" placeholder="••••••••" />
			</div>
			<div class="form-element">
				<label for="password" class="label"> Confirm password </label>
				<input bind:this={confirmPasswordBox} required minlength="8" type="password" id="confirm_password" name="confirm_password" placeholder="••••••••" />
			</div>

			<Turnstile class="turnstile" bind:reset siteKey="0x4AAAAAAAZOFDBBckmWwuP7" />

			<div class="login-button-container">
				<button on:click={handleDialog} class="login-button"> Create account </button>
			</div>

			<div bind:this={dialogBox} class="dialog-container">
				<div class="dialog-box">
					<div class="dialog-title">Check your inbox</div>
					<div class="dialog-content">Verify your email before logging in.</div>
					<div class="dialog-animation">
						<img src="https://cdn.dribbble.com/userupload/11000554/file/original-ec4e1c3d9d5c3a5d9f7261ce0bba400d.gif" alt="E-mail received animation" />
					</div>
					<div class="dialog-actions">
						<button type="submit" class="dialog-button">OK</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="link">
		By creating an account, you agree to our <a href="/signup">terms and conditions.</a>
	</div>
</section>

<style lang="scss">
	@import '$lib/styles/signup/Signup';
</style>
