@mixin noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.explorePageContents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5em;
}

.searchBar {
    display: none;
}

.searchBox {
    padding: 7px 7px 7px 15px;
    height: 30px;
    width: 100%;
    font-size: 17px;
    outline: none;
    border-radius: 15px;
    margin-top: 15px;
    caret-color: #6f16ff;
    border: 1px solid #444;
    filter: drop-shadow(0 0 20px #000);
    background: #1717171e;
    /* background: #171717b0; */
    backdrop-filter: blur(14px);
}

.searchBox:focus {
    box-shadow: 0 0 15px #000;
}

.clearBox {
    display: none;
}

.body-container {
    display: flex;
    width: 80vw;

    div {
        //display: flex;
        //flex-direction: column;
        width: 80%;
    }
}

.topSearchesText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6rem;
    margin-bottom: .5em;
}

.topSearchesIcon {
    padding-top: .8em;
    padding-right: 1em;
    height: 38px;
    margin-left: .2em;
}

.mostRecentSearch {
    font-size: 1.2rem;
    opacity: 0.4;
    display: flex;
    margin-top: 1em;
    margin-bottom: 10px;
    align-items: center;
}

.mostRecentSearchIcon {
    margin-right: 5px;
    font-size: 1.2rem;
}

.search-history-container {
    display: flex;
    flex-direction: column;
}

.search-history {
    padding-top: .1em;
}

.search-history-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: #777;
    margin: 1em 0;
}

.search-term {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #333;
    padding: .6em;
    border-radius: .6em;
    margin: .5em 0;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #555;
    backdrop-filter: blur(4px);
}

.search-term:hover {
    background: #272727;
}

.clear-history {
    border: 1px solid #777;
    padding: .6em .8em;
    border-radius: 2em;
    width: fit-content;
    text-wrap: nowrap;
}

.more {
    margin-left: .5em;
}

.button-container {
    display: flex;
}

.mostRecentSearch:hover {
    cursor: pointer;
    opacity: 1;
}

.play-history-container {
    width: 100%;
}

.play-history {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-left: -1em;
}

.play-history-term {
    padding: .7em 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 1em;

    .image {
        border-radius: 1em;
    }
    .title {
        font-family: 'Josefin Sans', sans-serif;
        margin: .6em 0;
        text-wrap: nowrap;
    }
    .artists {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .9rem;
        opacity: .5;
        margin: -.3em 0;
        text-wrap: nowrap;
    }
}

.play-history-term:hover {
    cursor: pointer;
    background: #272727;
}

.feelingEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 80vw;
}

.shrugEmoji {
    font-size: 4rem;
    color: #555;
    margin-bottom: 10px;
}

.feelingEmptyText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    color: #555;
}

@media only screen and (max-width: 1200px) {
    #explorePage {
        margin-left: 160px;
    }

    #explorePageContents {
        margin-left: 6.4vw;
    }
}

@media only screen and (max-width: 970px) {
    #explorePage {
        margin: 0;
    }

    #explorePageContents {
        margin-left: 0;
        width: 100%;
    }

    #topSearchesContainer {
        margin-top: 20px;
        /* margin-left: -40px; */
    }
}

@media only screen and (max-width: 700px) {
    #topSearchesText {
        font-size: 1.7em;
        margin-bottom: 14px;
    }

    #topSearchesIcon {
        padding-top: 15px;
        height: 25px;
        margin-left: 7px;
    }

    #mostRecentSearch {
        font-size: 1em;
    }

    #mostRecentSearchIcon {
        margin-right: 4px;
        font-size: 20px;
    }

    #shrugEmoji {
        font-size: 2.5rem;
        color: #555;
        margin-bottom: 10px;
    }

    #feelingEmptyText {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
        color: #555;
    }

    #explorePageContents {
        margin-left: -15px;
    }
}

@media only screen and (max-width: 580px) {
    #topSearchesText {
        margin-left: 4px;
    }

    #searchBar {
        display: block;
        margin-top: -8px;
    }

    #mostRecentSearch {
        margin-top: 20px;
        font-size: 1em;
    }

    #mostRecentSearchIcon {
        margin-left: 1px;
        margin-right: 4px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    #topSearchesText {
        font-size: 1.3em;
        margin-bottom: 14px;
    }

    #topSearchesIcon {
        padding-top: 15px;
        height: 20px;
        margin-left: 7px;
    }
}

@media only screen and (max-width: 390px) {
    #topSearchesText {
        font-size: 1.2em;
    }

    #topSearchesIcon {
        height: 18px;
        margin-left: 4px;
    }

    #mostRecentSearch {
        margin-top: 18px;
        font-size: .9em;
    }

    #mostRecentSearchIcon {
        font-size: 18px;
    }
}