<script lang="ts">
	import logo from '$lib/resources/icon.png';
	import google from '$lib/resources/google.png';
	import apple from '$lib/resources/apple.png';
	import facebook from '$lib/resources/facebook.png';
	import { Turnstile } from 'svelte-turnstile';

	let reset: () => void | undefined;
	let passwordBox: HTMLInputElement;
	let visibilityIcon: HTMLElement;
	let showPassword: boolean = false;

	// $: anonymousLogin = async () => {
	// 	const { data, error } = await $supabaseStore.auth.signInAnonymously()
	// 	if (error) {
	// 		console.error(error);
	// 	} else {
	// 		console.log(data);
	// 	}
	// }

	function passwordHandler(event: Event) {
		event.preventDefault();
		if (showPassword) {
			visibilityIcon.innerHTML = 'visibility';
			passwordBox.type = 'password';
			showPassword = false;
		} else {
			visibilityIcon.innerHTML = 'visibility_off';
			passwordBox.type = 'text';
			showPassword = true;
		}
	}
</script>

<svelte:head>
		<title>Login to your account - Rhythmie</title>
</svelte:head>

<section class="main-container">
	<div class="container">
		<div class="top-section">
			<div class="branding">
				<div class="branding-icon-container">
					<img class="branding-icon" src={logo} alt="Rhythmie logo" />
				</div>
				<div class="branding-text">
					Rhythmie
				</div>
			</div>
			<div class="greeting">
				<div class="heading">
					Welcome back!
				</div>
				<div class="sub-heading">
					Log in to get started
				</div>
			</div>
		</div>
		<form method="POST" action="/login">
			<div class="form-element">
				<label for="email" class="label">E-mail</label>
				<input type="email" id="email" name="email" />
			</div>
			<div class="form-element">
				<label for="password" class="label">
					Password
					<button on:click={passwordHandler}>
						<span bind:this={visibilityIcon} class="material-symbols-rounded">
							visibility
						</span>
					</button>
				</label>
				<input bind:this={passwordBox} type="password" id="password" name="password" />
			</div>
			
			<Turnstile class="turnstile" bind:reset siteKey="0x4AAAAAAAZOFDBBckmWwuP7" />
			
			<div class="login-button-container">
				<button class="login-button">
					Login
				</button>
			</div>
		</form>
		<div class="or">
			OR
		</div>
		<div class="social-container">
			<div class="social-option">
				<img src={google} class="social-icon" alt="Google icon" />
			</div>
			<div class="social-option">
				<img src={apple} class="social-icon" alt="Apple icon" />
			</div>
			<div class="social-option">
				<img src={facebook} class="social-icon" alt="Facebook icon" />
			</div>
		</div>
		<div class="links-container">
			<div class="link">
				Forgot password - <a href="/forgot-password">reset it here.</a>
			</div>
			<div class="link">
				New here? <a href="/signup">create a new account.</a>
			</div>
		</div>
	</div>
	<div class="main-or">
		OR
	</div>
	<a data-sveltekit-preload-data="tap" href="/anonymous">
		<button class="skip-button">
			Use without an account
			<span class="material-symbols-rounded">
				arrow_forward
			</span>
		</button>
	</a>
</section>

<style lang="scss">
	@import '$lib/styles/login/Login';
</style>