.alert-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 10;
	top: 5em;
	right: 2em;
	background: #17171777;
	backdrop-filter: blur(4px);
	border: 1px solid #444;
	border-radius: 1em;
	overflow: hidden;
}

.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.alert-icon {
	margin-right: 0.6em;
}

.loading-bar {
	height: 3px;
	width: 0%;
	background: #ddd;
	animation: loading 5s linear;
}

@keyframes loading {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}
