.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  backdrop-filter: blur(1em) brightness(50%);
  border-radius: 2em;
  overflow: hidden;
}

.dialog-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  margin: 1em;
}

.dialog-actions {
  display: flex;
  border-radius: 20em;
  border: 1px solid #444;
  backdrop-filter: brightness(50%);
  margin-bottom: 1.5em;
  overflow: hidden;

  .action {
    font-size: 1.2rem;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
  }

  .active {
    background: #8334ff;
    color: #fff;
  }
}

.close-dialog {
  border: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8em 1em;
  border-radius: .6em;

  span {
    margin-right: .2em;
  }

  .close-button-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
  }
}

.action:hover {
  cursor: pointer;
  background: #ddd;
  color: #000;
}

.close-dialog:hover {
  cursor: pointer;
  background: #ddd;

  span, .close-button-text {
    color: #000;
  }
}