<script lang="ts">

</script>

<div class="container">
	<div class="inner-container">
		<div class="support-title">
			Support
		</div>
		<div class="support-links">
			<a href="/support/faq">FAQ</a>
			<a href="/support/contact">Contact</a>
			<a href="/support/privacy-policy">Privacy Policy</a>
			<a href="/support/terms-and-conditions">Terms and Conditions</a>
			<a class="active" href="/support/delete-my-data">Delete my data</a>
		</div>
	</div>
</div>

<style lang="scss">
	@import '$lib/styles/support/Support';
</style>