.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-weight: 100vw;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  padding: 2em;
  border-radius: 2em;
}

.support-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2rem;
  padding-bottom: .4em;
  border-bottom: 2px solid #444;
  margin-bottom: 1em;
}

.support-links {
  a {
    border: 1px solid #444;
    padding: .5em 1em;
    font-size: 1.2rem;
  }

  a:nth-child(1) {
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
  }

  a:nth-last-child(1) {
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
  }

  a:hover {
    background: #ddd;
    color: #000;
  }
}
