<script lang="ts">
	// Importing functions
	import { limitString } from '$lib';

	// Passing prop data received from the parent element to the results variable
	export let results;
	export let searchQuery: string;
</script>

<!-- The section element acts as a container for the album results -->
<section class="container">
	<!-- Iterating over each album in the results data -->
	{#each results.results as item}
		<a href="/browse/album?id={item.id}" class="element">
			<div class="album-art">
				<img src={item.image[1].url} alt="" />
			</div>
			<div class="element-info">
				<!-- The limitString function is used to limit the title to 20 characters -->
				<div class="title">{limitString(item.title, 20)}</div>
				<!-- The limitString function is used to limit the description to 24 characters -->
				<div class="artist">{limitString(item.description, 24)}</div>
			</div>
		</a>
	{/each}
	<a data-sveltekit-preload-data="tap" href="/explore/search/albums{searchQuery}" class="element">
		<div class="see-more">
			See more
			<span class="material-symbols-rounded"> arrow_forward </span>
		</div>
	</a>
</section>

<style lang="scss">
	// Importing the Albums.scss file from the styles/components/explore directory in the lib directory
	@import '$lib/styles/components/explore/Albums.scss';
</style>
