<script lang="ts">
	// Passing prop data received from the parent element to the results variable
	import { limitString } from '$lib';

	export let results;
	export let searchQuery;
</script>

<!-- The section element acts as a container for the artist results -->
<section class="container">
	<!-- Iterating over each artist in the results data -->
	{#each results.results as item}
		<a href="/browse/artist?id={item.id}" class="element">
			<div class="artist-profile">
				<img src={item.image[1].url} alt="" />
			</div>
			<div class="element-info">
				<div class="title">{limitString(item.title, 16)}</div>
				<div class="description">{limitString(item.description, 20)}</div>
			</div>
		</a>
	{/each}
	<a data-sveltekit-preload-data="tap" href="/explore/search/artists{searchQuery}" class="element">
		<div class="see-more">
			See more
			<span class="material-symbols-rounded"> arrow_forward </span>
		</div>
	</a>
</section>

<style lang="scss">
	// Importing the Artists.scss file from the styles/components/explore directory in the lib directory
	@import '$lib/styles/components/explore/Artists.scss';
</style>
