<script lang="ts">
	// Importing functions and assets
	import { fetchSong, limitString } from '$lib';

	import dots from '$lib/resources/dots.png';
	import defaultImg from '$lib/resources/default-alt.png';
	import playing from '$lib/resources/playing.gif';
	import { playerData } from '../../../store';

	// Passing prop data received from the parent element to the results variable
	export let results;
	export let searchQuery;

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};
</script>

<!-- The section element acts as a container for the song results -->
<section class="container">
	<!-- Iterating over each song in the results data -->
	{#each results.results as item}
		<div draggable={true} class="element">
			<div class="music-art-container">
				<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
				<button class="music-art-button" on:click={() => fetchSong(item.id, true)}>
					<span class="play-icon material-symbols-rounded">
						play_arrow
					</span>
					{#if $playerData}
						{#if $playerData.id === item.id}
							<div class="now-playing-container">
								<img class="now-playing" src={playing} alt="Now playing" />
							</div>
						{/if}
					{/if}
					<object class="music-art" data={item.image[0].url} type="image/png" aria-label="Song Art">
						<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
					</object>
				</button>
			</div>
			<div class="element-info">
				<div class="title">{limitString(item.title, 60)}</div>
				<div class="artist">{limitString(item.primaryArtists, 60)}</div>
			</div>
			<button class="option-button">
				<img draggable={false} class="option-icon" src={dots} alt="" />
			</button>
		</div>
	{/each}
	<a data-sveltekit-preload-data="tap" href="/explore/search/songs{searchQuery}" class="element">
		<div class="see-more">
			See all song results
			<span class="material-symbols-rounded"> arrow_forward </span>
		</div>
	</a>
</section>

<style lang="scss">
	// Importing the Songs.scss file from the styles/components/explore directory in the lib directory
	@import '$lib/styles/components/explore/Songs.scss';
</style>
