<script lang="ts">
	// Importing functions and assets
	import { onMount } from 'svelte';
	import { fetchSong, limitString } from '$lib';

	import play from '$lib/resources/play-buttonx64.png';
	import playInverted from '$lib/resources/play-button-invertedx64.png';
	import defaultImg from '$lib/resources/default-alt.png';

	// Passing prop data received from the parent element to the results variable
	export let results;
	// Declarations
	let container: HTMLElement;
	let playIcon = play;
	let playButton: HTMLImageElement;

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};

	onMount(() => {
		playButton.addEventListener('mouseover', () => {
			playIcon = playInverted;
		});
		playButton.addEventListener('mouseout', () => {
			playIcon = play;
		});
		// This code block sets the music art as the background of the container element
		if (results.topQuery.results.length === 0) {
			container.style.backgroundImage = `url(${results.songs.results[0].image[2].url})`;
		} else {
			container.style.backgroundImage = `url(${results.topQuery.results[0].image[2].url})`;
		}
	});
</script>

<!-- The section element acts as a container for the top result -->
<section bind:this={container} class="container">
	<div class="element">
		<a
			href={results.topQuery
				? `/browse/song?id=${results.songs.results[0].id}`
				: `/browse/${results.topQuery.results[0].type}?id=${results.topQuery.results[0].id}`}
		>
			<div class="element-picture">
				<object
					class="song-art"
					data={results.topQuery
						? results.songs.results[0].image[1].url
						: results.topQuery.results[0].image[1].url}
					type="image/png"
					aria-label="Song Art"
				>
					<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
				</object>
			</div>
		</a>
		<div class="element-info">
			<div>
				<!-- The limitString function is used to limit the title to 24 characters -->
				<div class="title">
					{results.topQuery
						? limitString(results.songs.results[0].title, 24)
						: limitString(results.topQuery.results[0].title, 24)}
				</div>
				<!-- The limitString function is used to limit the artist to 30 characters -->
				<div class="artist">
					{results.topQuery
						? limitString(results.songs.results[0].primaryArtists, 30)
						: results.topQuery.results[0].primaryArtists
							? limitString(results.topQuery.results[0].primaryArtists, 30)
							: limitString(results.topQuery.results[0].description, 30)}
				</div>
			</div>
			<div class="button-container">
				<!-- The fetchSong function is called when the button is clicked, passing the topQuery's id as an argument -->
				<button on:click={() => fetchSong(results.topQuery.results[0].id, true)}>
					<img bind:this={playButton} draggable={false} class="play-button" src={playIcon} alt="" />
				</button>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	// Importing the Topresult.scss file from the styles/components/explore directory in the lib directory
	@import '$lib/styles/components/explore/Topresult.scss';
</style>
