<script lang="ts">
	// Importing functions and assets
	import {
		converter,
		fetchVideoById,
		formatNumber,
		limitString,
		searchVideos,
		timeConverter
	} from '$lib';

	import play from '$lib/resources/play.png';
	import dots from '$lib/resources/dots.png';
	import defaultImg from '$lib/resources/default-alt.png';
	import { isLoading, playerData, searchQuery, videoResults } from '../../../store';
	import { onMount } from 'svelte';
	import VideosSkeleton from '$lib/components/skeletons/VideosSkeleton.svelte';
	import playing from '$lib/resources/playing.gif';

	onMount(() => {
		const query = $searchQuery;
		if (query) {
			console.log('Searching...');
			searchVideos(query, 2);
		}
	});

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	};
</script>

<!-- The section element acts as a container for the album results -->
<section class="container">
	{#if !$videoResults}
		<VideosSkeleton limit={20} />
	{:else}
		<div class="elements-container">
			<!-- Iterating over each song in the localResults data -->
			{#each $videoResults as item}
				<div class="element">
					<div class="music-art-container">
						<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
						<button class="music-art-button" on:click={() => fetchVideoById(item.videoId)}>
							<span class="play-icon material-symbols-rounded"> play_arrow </span>
							{#if $playerData}
								{#if $playerData.id === item.videoId}
									<div class="now-playing-container">
										<img class="now-playing" src={playing} alt="Now playing" />
									</div>
								{/if}
							{/if}
							<object
								class="music-art"
								data={item.videoThumbnails?.[4]?.url ?? play}
								type="image/png"
								aria-label="Song Art"
							>
								<img class="default-img" src={defaultImg} on:error={handleImageError} alt="" />
							</object>
						</button>
					</div>
					<a class="anchor-area" href="/browse/video?id={item.videoId}">
						<div class="element-info">
							<div class="title">{limitString(item.title, 46)}</div>
							<div class="author">{limitString(item.author, 32)}</div>
							<div class="duration">{item.lengthSeconds ? converter(item.lengthSeconds) : ''}</div>
							<div class="view-count">
								{formatNumber(item.viewCount)} views &#8226; {timeConverter(item.published)}
							</div>
						</div>
					</a>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</div>
			{/each}
			{#if $isLoading.videos}
				<VideosSkeleton limit={2} />
			{/if}
			<a data-sveltekit-preload-data="tap" href="/explore/search/videos?query={searchQuery}" class="element">
				<div class="see-more">
					See more videos
					<span class="material-symbols-rounded"> arrow_forward </span>
				</div>
			</a>
		</div>
	{/if}
</section>

<style lang="scss">
	@import '$lib/styles/components/explore/Videos';
</style>
