<script defer lang="ts">
	export let fillX: string;
	export let fillY: string;
	export let height: string;
	export let width: string;
	export let pathColor: string;
	const gradientX: string = `stop-color:${fillX};stop-opacity:1`;
	const gradientY: string = `stop-color:${fillY};stop-opacity:1`;

	import { gsap } from 'gsap';
	import { onMount } from 'svelte';

	const path1 = 'M42.7,-75.6C55.3,-66.7,65.6,-55.2,69.7,-42.2C73.9,-29.2,72,-14.6,69.5,-1.4C67.1,11.7,63.9,23.4,59.5,36.1C55.1,48.7,49.5,62.2,39.3,71.1C29.2,80,14.6,84.3,2.1,80.6C-10.4,77,-20.8,65.5,-30.3,56.2C-39.8,47,-48.5,40,-57.3,31C-66.1,22,-75,11,-74.6,0.2C-74.2,-10.6,-64.5,-21.1,-57.9,-33.9C-51.3,-46.6,-47.7,-61.6,-38.6,-72.5C-29.5,-83.4,-14.7,-90.2,0.2,-90.5C15,-90.8,30.1,-84.5,42.7,-75.6Z';
	const path2 = 'M40.5,-70.7C50.6,-64.4,55.5,-49.6,63.4,-36.4C71.4,-23.2,82.5,-11.6,82.4,-0.1C82.2,11.4,70.8,22.9,58.8,29.1C46.9,35.4,34.3,36.5,24.4,40.7C14.5,44.8,7.2,52,-0.1,52.1C-7.4,52.2,-14.7,45.2,-28.9,43.6C-43.1,41.9,-64.1,45.5,-71.9,39.1C-79.7,32.7,-74.3,16.4,-72.3,1.2C-70.2,-14,-71.4,-27.9,-62.1,-31.9C-52.9,-35.8,-33.3,-29.7,-21.2,-34.8C-9.1,-39.9,-4.5,-56.3,5.3,-65.6C15.2,-74.9,30.5,-77,40.5,-70.7Z';

	onMount(() => {
		gsap.to('#path', {
			duration: 6,
			attr: {
				d: path2
			},
			repeat: -1,
			yoyo: true,
			ease: 'power1.inOut'
		});
		gsap.to('#path2', {
			delay: 1,
			duration: 7,
			attr: {
				d: path2
			},
			repeat: -1,
			yoyo: true,
			ease: 'power1.inOut'
		});
	});
</script>

<style lang="scss">
	svg {
		position: absolute;
	}
</style>

<svg {height} {width} viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
	<path
		fill={pathColor}
		d={path1}
		transform="translate(100 100)"
		id="path2"
	/>
</svg>
<svg {height} {width} viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
			<stop offset="0%" style={gradientX} />
			<stop offset="100%" style={gradientY} />
		</linearGradient>
	</defs>
	<path
		fill="url(#grad)"
		d={path1}
		transform="translate(100 100)"
		id="path"
	/>
</svg>