@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
}

.contents-container {
	width: 94%;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 0;
	margin-bottom: 14vh;

	.category-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 3vh;

		.back-button {
			font-size: 20px;
			color: #777;
		}

		.category {
			font-size: 1rem;
			margin: 0 10px;
			opacity: 0.5;
			padding: 9px 20px;
			border-radius: 20em;

			div {
				font-family: 'Josefin Sans', sans-serif;
			}
		}

		.active-category {
			background: #eee;
			opacity: 1;

			div {
				color: #000;
			}
		}
	}

	.contents {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		.category-title {
			font-size: 1.6rem;
			font-family: 'Josefin Sans', sans-serif;
			margin-top: 20px;
			margin-bottom: 2vh;
			display: flex;
			align-items: center;
		}
	}
}


@media (hover:hover) {
	.category:hover {
		cursor: pointer;
		background: #fff;

		div {
			color: #000;
		}
	}
}