@mixin glass-pane {
  background: #17171700;
  border: 1px solid #333;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 28px #0f0f0f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 1em;
  margin-bottom: 15vh;

  .artist-info-container {
    display: flex;
    align-items: center;
    width: 90%;

    .artist-cover {
      img {
        height: 360px;
        width: 360px;
        border-radius: 1em;
      }
    }

    .artist-info {
      margin: 2em;
      display: flex;
      flex-direction: column;

      .artist-title {
        .title {
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
          font-size: 4rem;
        }
      }

      .artist-meta-info {
        display: none;
        width: 80%;
        margin: 0 0 1em;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;

        .info {
          color: #aaa;
        }

        img {
          height: 28px;
          width: 28px;
          border-radius: 2em;
          border: 2px solid #aaa;
          margin-right: .5em;
          margin-bottom: .1em;
        }
      }
      .artist-duration {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: .4em;
      }
    }
  }
  .artist-controls {
    margin-top: 8%;
    display: flex;
    align-items: center;

    button {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.2rem;
    }

    .play-button {
      display: flex;
      align-items: center;
      padding: .7em .9em .5em;
      background: #eee;
      border-radius: 10em;
      color: #000;
      margin-right: 1em;

      span {
        color: #000;
        padding-right: .2em;
      }
    }
    .add-button {
      display: flex;
      align-items: center;
      padding: .7em .8em .5em;
      border: 1px solid #eee;
      color: #fff;
      border-radius: 10em;
      margin-right: .3em;

      span {
        padding-right: .4em;
      }
    }
    .more-button {
      display: flex;
      align-items: center;
      height: 100%;
      padding: .4em;
      border-radius: 10em;

      span {
        font-size: 1.4em;
      }
    }
  }

  .category-title {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2%;
    display: flex;
    text-align: left;
    width: 90%;
  }

  .songs-container {
    @include glass-pane;
    border-radius: 1em;
    padding: .4em .2em;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;


    button {
      width: 100%;
      display: flex;
    }


    .element {
      width: 99%;
      display: flex;
      align-items: center;
      padding: 0.6em 0.6em;
      margin: 0.5em 0.5em 0.4em;
      transition: 0.4s;
      border-radius: 1em;

      .music-art-container {
        .music-art-button {
          height: 50px;
          width: 50px;
          background: #2a2a2a;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          .music-art {
            display: flex;
            align-items: center;
            justify-content: center;
            .default-img {
              height: 36px;
              width: 36px;
            }
          }
        }

        .play-icon {
          position: absolute;
          font-size: 2rem;
          background: #222;
          padding: 15px;
          opacity: 0;
        }
      }

      .duration {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
        color: #666;
        position: absolute;
        right: 6%;
      }

      .element-info {
        display: flex;
        flex-direction: column;
        margin-left: 1.2em;
        width: 100%;

        .title {
          height: 14px;
          width: 100%;
          margin-bottom: 10px;
          border-radius: 100px;
          font-size: 17px;
          white-space: nowrap;
          display: flex;
          align-items: center;

          .explicit {
            background: #666;
            border-radius: .3em;
            padding: .1em .4em;
            font-size: .8rem;
            color: #171717;
            margin-left: .6em;
          }
        }

        .artist {
          text-align: left;
          height: 10px;
          width: 100%;
          border-radius: 100px;
          opacity: 0.5;
          font-size: 14px;
        }
      }

      .option-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .option-icon {
          width: 22px;
        }
      }

      .see-more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-left: 0.5em;
          font-size: 1.2rem;
        }
      }
    }
  }

  .top-albums-container {
    width: 90%;
    padding: 2em 0;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 54% 54%;
    margin-left: -2%;
    border-radius: 1em;

    .element {
      @include glass-pane;
      padding: 1em;
      margin: 0 2.5%;
      text-align: left;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 60%;

    }
    .element:nth-last-child(1) {
      .see-more {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-left: 0.6em;
        }
      }
    }

    .album-art {
      border-radius: 1em;
      overflow: hidden;
    }

    .element-info {
      display: flex;
      flex-direction: column;
      width: 150px;

      .title {
        margin-top: 15px;
        height: 1.4vh;
        width: 100%;
        font-size: 0.9rem;
        font-family: 'Josefin Sans', sans-serif;
      }

      .description {
        margin-top: 5px;
        height: 1.4vh;
        font-size: 0.8rem;
        color: #999;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }

  .similar-artists-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;

    .element {
      @include glass-pane;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      margin-right: 2%;
      background: #171717;
      border-radius: 20px;


      .artist-profile {
        border-radius: 20rem;
        overflow: hidden;

        img {
          height: 150px;
          width: 150px;
        }
      }

      .element-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          margin-top: 15px;
          height: 1.4vh;
          width: 100%;
          font-size: 0.9rem;
          font-family: 'Josefin Sans', sans-serif;
        }

        .description {
          margin-top: 5px;
          height: 1.4vh;
          font-size: 0.8rem;
          color: #999;
          font-family: 'Josefin Sans', sans-serif;
        }
      }

    }
  }
}

@media (hover:hover) {
  .artist-info-container {
    button:hover {
      cursor: pointer;
      transform: scale(1.07);
    }
  }
  .more-button:hover {
    background: #2a2a2a;
    transform: scale(1);
  }

  .element:hover {
    background: #222;

    .music-art-container {
      .music-art-button {
        .play-icon {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
}
