<script lang="ts">
	import { goto } from '$app/navigation';
	import { debounce, limitString } from '$lib';
	import { alertIcon, alertMessage, alertState, playerData } from '../../../store';
	import ExploreSkeleton from '$lib/components/skeletons/ExploreSkeleton.svelte';

	// Declarations
	let searchTerm = '';
	let searchBox: HTMLInputElement;
	let searchHistory: Array<string>;
	let playHistory: Array<object>;
	let loading: boolean = true;

	$: if (typeof window !== 'undefined') {
		if (localStorage.getItem('searchHistory'))
			searchHistory = localStorage.getItem('searchHistory').split(',').slice(0, 10);
		console.log(searchHistory);
		if (localStorage.getItem('playHistory'))
			playHistory = JSON.parse(localStorage.getItem('playHistory')).slice(0, 6);
		loading = false;
	}

	const clearSearchHistory = () => {
		if (typeof window !== 'undefined') {
			localStorage.removeItem('searchHistory');
			alertState.set(true);
			alertIcon.set('delete');
			alertMessage.set('Search history has been cleared');
		}
	};

	const clearPlayHistory = () => {
		if (typeof window !== 'undefined') {
			localStorage.removeItem('playHistory');
			alertState.set(true);
			alertIcon.set('delete');
			alertMessage.set('Play history has been cleared');
		}
	};

	// Debouncing function (Delays search in order to prevent API exhaustion)
	const debouncedSearch = debounce((term: string) => {
		goto(`/explore/search/topresults?query=${term}`); // setting URL params
		searchBox.focus();
	}, 500); // delay (in milliseconds)

	// To handle text input in the search box
	const searchHandler = (event: Event) => {
		searchTerm = (event.target as HTMLInputElement).value;
		debouncedSearch(searchTerm);
	};
</script>

<svelte:head>
	{#if !$playerData}
		<title>Explore - Rhythmie</title>
	{/if}
</svelte:head>

<section class="explorePage">
	<div class="explorePageContents">
		<div class="results">
			<div class="topSearchesContainer">
				<div class="topSearchesText">
					What's on your mind lately?
					<img
						class="topSearchesIcon"
						src="https://c.tenor.com/S8dOItPNscgAAAAi/loop-loading.gif"
						alt=""
					/>
				</div>

				<div class="searchBar">
					<input
						bind:this={searchBox}
						bind:value={searchTerm}
						on:input={searchHandler}
						maxlength="46"
						placeholder="Search for a song, artist or album"
						class="searchBox"
						type="text"
					/>
					<span class="material-symbols-rounded clearBox"> close </span>
				</div>

				{#if !loading}
					<div class="body-container">
						{#if typeof window !== 'undefined'}
							<div class="search-history-container">
								{#if searchHistory}
									<div class="search-history">
										<div class="search-history-text">Recent searches</div>
										{#each searchHistory as item}
											<a href="/explore/search?query={item}" class="search-term">
												<span class="material-symbols-rounded mostRecentSearchIcon"> history </span>
												<div>{item}</div>
											</a>
										{/each}
									</div>
									<div class="button-container">
										<button on:click={clearSearchHistory} class="clear-history mostRecentSearch">
											<span class="material-symbols-rounded mostRecentSearchIcon"> clear_all </span>
											<div>Clear search history</div>
										</button>
										<a href="/library/history" class="more mostRecentSearch">
											<span class="material-symbols-rounded mostRecentSearchIcon"> open_in_new </span>
											<div>More</div>
										</a>
									</div>
								{:else}
									<div class="mostRecentSearch">
										<span class="material-symbols-rounded mostRecentSearchIcon"> history </span>
										<div>No recent searches so far</div>
									</div>
								{/if}
							</div>
							{#if playHistory}
								<div class="play-history-container">
									<div class="search-history-text">Recently played</div>
									<div class="play-history">
										{#each playHistory as item}
											<a href="/browse/song?id={item.id}" class="play-history-term">
												<img class="image" src={item.image} alt="Song art" />
												<div class="title">
													{limitString(item.name, 20)}
												</div>
												<div class="artists">
													{limitString(item.artists, 20)}
												</div>
											</a>
										{/each}
									</div>
									<button on:click={clearPlayHistory} class="clear-history mostRecentSearch">
										<span class="material-symbols-rounded mostRecentSearchIcon"> clear_all </span>
										<div>Clear play history</div>
									</button>
								</div>
							{/if}
						{/if}
					</div>
				{:else}
					<ExploreSkeleton />
				{/if}
				{#if typeof window !== 'undefined'}
					{#if !localStorage.getItem('searchHistory')}
						<div class="feelingEmpty">
							<!-- <div class="shrugEmoji">¯\_(ツ)_/¯</div> -->
							<div class="shrugEmoji">¯\_(°-°)_/¯</div>
							<div class="feelingEmptyText">It feels so empty here</div>
						</div>
					{/if}
				{/if}
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@import '$lib/styles/explore/Explore.scss';
</style>
