.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1.2em;
  font-size: 1.2em;
}

.image {
  height: 200px;
  border-radius: 1em;
  margin-bottom: 1.5em;
}

.button {
  border: 1px solid #444;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  padding: .4em 1em;
  border-radius: 20rem;
  margin: 1em .2em 0;
}

@media (hover:hover) {
  .button:hover {
    cursor: pointer;
    background: #ddd;
    color: #000;
  }
}