<script lang="ts">
	import { playerData } from "../../../store";
	import likedSongsIcon from '$lib/resources/liked-songs.png';
</script>

<svelte:head>
	{#if !$playerData}
		<title>My Library - Rhythmie</title>
	{/if}
</svelte:head>

<section class="library-page">
	<div class="content">
		<div class="page-title-container">
			<div class="page-title">My Library</div>
		</div>
		<section class="playlist-container">
			<a href="/library/liked" class="playlist">
				<div class="playlist-icon">
					<img src={likedSongsIcon} alt="Liked songs" />
				</div>
				<div class="playlist-info">
					<div class="playlist-name">Liked songs</div>
					<div class="playlist-song-count">0 songs</div>
				</div>
			</a>
			<div class="playlist">
				<div class="playlist-icon">
					<span class="material-symbols-rounded">history</span>
				</div>
				<div class="playlist-info">
					<div class="playlist-name">Your history</div>
					<div class="playlist-song-count">0 songs</div>
				</div>
			</div>
			<div class="playlist">
				<div class="playlist-icon">
					<span class="material-symbols-rounded">download</span>
				</div>
				<div class="playlist-info">
					<div class="playlist-name">Downloads</div>
					<div class="playlist-song-count">0 songs</div>
				</div>
			</div>
		</section>
		<div class="playlist-container-title">Playlists</div>
		<section class="playlist-container">
			<div class="playlist">
				<div class="playlist-icon">
					<span class="material-symbols-rounded">add</span>
				</div>
				<div class="playlist-info">
					<div class="playlist-name">Create a playlist</div>
					<div class="playlist-song-count">Add songs</div>
				</div>
			</div>
		</section>
		<div class="playlist-container-title">Artists and albums</div>
		<section class="playlist-container">
			<div class="playlist">
				<div class="playlist-icon">
					<span class="material-symbols-rounded">add</span>
				</div>
				<div class="playlist-info">
					<div class="playlist-name">Add to your library</div>
					<div class="playlist-song-count">Add albums and artists</div>
				</div>
			</div>
		</section>
	</div>
</section>

<style lang="scss">
	@import '$lib/styles/library/Library';
</style>
