<script lang="ts">
	import { alertIcon, alertMessage } from '../../../store';
</script>

<div class="alert-container">
	<div class="alert">
		<div class="alert-icon">
		<span class="material-symbols-rounded">
			{$alertIcon}
		</span>
		</div>
		<div class="alert-info">
			{$alertMessage}
		</div>
	</div>
	<div class="loading-bar"></div>
</div>

<style lang="scss">
	@import '$lib/styles/components/dialogs/Alert';
</style>