<script lang="ts">
	import { quality, qualitySettingState } from '../../../store';

	quality.subscribe((value: number) => {
		localStorage.setItem('quality', value.toString());
	});
</script>

<section class="dialog-container">
	<div class="dialog-title">
		Set playback quality
	</div>
	<div class="dialog-actions">
		<button class="action" class:active={$quality === 1} on:click={() => quality.set(1)}>
			Low (48kbps)
		</button>
		<button class="action" class:active={$quality === 2} on:click={() => quality.set(2)}>
			Medium (96kbps)
		</button>
		<button class="action" class:active={$quality === 3} on:click={() => quality.set(3)}>
			High (160kbps)
		</button>
		<button class="action" class:active={$quality === 4} on:click={() => quality.set(4)}>
			Studio (320kbps)
		</button>
	</div>
	<button class="close-dialog" on:click={() => qualitySettingState.set(false)}>
		<span class="material-symbols-rounded">
			close
		</span>
		<div class="close-button-text">
			Close
		</div>
	</button>
</section>

<style lang="scss">
	@import '$lib/styles/components/dialogs/QualitySettings';
</style>