@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin-bottom: 15vh;

	.category-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 3vh;

		.back-button {
			font-size: 20px;
			color: #777;
		}

		.category {
			font-size: 1rem;
			margin: 0 10px;
			opacity: 0.5;
			padding: 9px 20px;
			border-radius: 20em;

			div {
				font-family: 'Josefin Sans', sans-serif;
			}
		}

		.active-category {
			background: #eee;
			opacity: 1;

			div {
				color: #000;
			}
		}
	}

	.category-title {
		font-size: 1.6rem;
		font-family: 'Josefin Sans', sans-serif;
		margin-top: 20px;
		margin-bottom: 3vh;
		display: flex;
		width: 62%;
	}
	.elements-container {
		@include glass-pane;
		border-radius: 1em;
		padding: 0.4em 1em;
		height: 100%;
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.element {
			height: 5.9vh;
			width: 98%;
			display: flex;
			align-items: center;
			padding: 0.6em 0.6em;
			margin: 0.5em 0.5em 0.4em;
			transition: 0.4s;
			border-radius: 1em;

			.music-art-container {
				.music-art-button {
					height: 50px;
					width: 50px;
					background: #2a2a2a;
					border-radius: 10px;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;

					.music-art {
						display: flex;
						align-items: center;
						justify-content: center;
						.default-img {
							height: 36px;
							width: 36px;
						}
					}
				}

				.play-icon {
					position: absolute;
					font-size: 2rem;
					background: #222;
					padding: 15px;
					opacity: 0;
				}
			}
			.duration {
				font-family: 'Montserrat', sans-serif;
				font-size: 0.9rem;
				color: #666;
				position: absolute;
				right: 6%;
			}

			.element-info {
				margin-left: 15px;
				width: 100%;

				.title {
					height: 14px;
					width: 100%;
					margin-bottom: 10px;
					border-radius: 100px;
					font-size: 17px;
					white-space: nowrap;
					display: flex;
					align-items: center;

					.explicit {
						background: #666;
						border-radius: .3em;
						padding: .1em .4em;
						font-size: .8rem;
						color: #171717;
						margin-left: .6em;
					}
				}

				.artist {
					height: 10px;
					width: 100%;
					border-radius: 100px;
					opacity: 0.5;
					font-size: 14px;
				}
			}

			.option-button {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.option-icon {
					width: 22px;
				}
			}

			.see-more {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				span {
					margin-left: 0.5em;
					font-size: 1.2rem;
				}
			}
		}

		.element:nth-last-child(1) {
			height: 1.8em;
		}
	}
}

@media (hover: hover) {
	.category:hover {
		cursor: pointer;
		background: #fff;

		div {
			color: #000;
		}
	}
	.element:hover {
		background: #222;

		.music-art-container {
			.music-art-button {
				.play-icon {
					opacity: 0.8;
				}
			}
		}
	}
	.music-art-button:hover {
		cursor: pointer;
	}
}
