<script lang="ts">
	import accountImage from '$lib/resources/account.png';
	import type { CurrentUser } from '$lib/types/storeTypes';
	import { activeSession, currentUser, supabaseStore } from '../../store';

	$: logout = async () => {
		const { error } = await $supabaseStore.auth.signOut();
		if (error) {
			console.error(error);
		}
	};

	let user: CurrentUser = {
		full_name: '',
		email: '',
	};

	currentUser.subscribe(value => {
		user = value;
		if (value.full_name || value.email) {
			activeSession.set(true);
		} else {
			activeSession.set(false);
		}
	});
</script>

<div class="account-box-container">
	{#if !$activeSession}
		<div class="unauthorised-container">
			<div class="unauthorised-title">Login or create a Rhythmie account</div>
			<div class="account-actions">
				<div class="account-action">
					<a href="/signup">
						<button class="create-account"> Create account </button>
					</a>
				</div>
				<div class="account-action">
					<a href="/login">
						<button class="login"> Login </button>
					</a>
				</div>
			</div>
		</div>
	{:else}
		<div class="account-info">
			<div class="account-picture">
				<img src={accountImage} alt="Account avatar" />
			</div>
			<div class="account-name">
				{user.full_name}
			</div>
			<div class="account-email">
				{user.email}
			</div>
			<button class="edit-profile"> Edit Profile </button>
		</div>
		<div class="account-actions">
			<div class="account-action">
				<button on:click={logout} class="logout-button"> Log out </button>
			</div>
			<div class="account-action">
				<button class="settings-button"> Settings </button>
			</div>
		</div>
	{/if}
</div>

<style lang="scss">
	@import '$lib/styles/components/AccountBox.scss';
</style>
