<script lang="ts">
	import speculate from '$lib/resources/speculate.png';
	import gitlab from '$lib/resources/gitlab-logo.svg';
    import close from '$lib/resources/close.png';
    import { documentationState } from '../../store';
	import { onMount } from 'svelte';

    let documentation: HTMLElement;
    const closeDocumentation = () => {
        documentation.style.display = "none";
    }
    onMount(() => {
        documentationState.set(true);
    })
</script>

<section bind:this={documentation}>
	<div class="documentationOptions">
		<a href="https://gitlab.com/rhythmie/web" target="_blank" class="option">
			<img src={gitlab} alt="" />
			<div class="optionTitle">View source code on GitLab</div>
		</a>
		<a href="/" target="_blank" class="option">
			<img class="speculateLogo" src={speculate} alt="" />
			<div class="optionTitle">View documentation on Speculate</div>
		</a>
	</div>
        <button on:click={closeDocumentation}>
            <img src={close} alt="" />
        </button>
</section>

<style lang="scss">
    section {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: 10;
        background: #11111199;
    }
	.documentationOptions {
        position: fixed;
		top: 50%;
		left: 50%;
        transform: translate(-50%, -50%);
		background: #171717;
		display: block;
		z-index: 5;
		border-radius: 1em;
		overflow: hidden;
		font-weight: bold;
		box-shadow: 0 0 20px #000;
		border: 1px solid #333;
		.option {
			display: flex;
			justify-content: center;
			padding: 1em;

			img {
				width: 20px;
				padding-right: .8em;
			}
			.optionTitle {
				font-size: 1.2rem;
			}
			.speculateLogo {
				width: 22px;
				padding-right: .5em;
			}
		}
		.option:hover {
			background: #333;
			cursor: pointer;
		}
	}
    button {
        img {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 8em;
        }
    }
    button:hover {
        cursor: pointer;
    }
</style>
