<script lang="ts">
	import {
		playerData,
		lyrics,
		lyricsState,
		nowPlayingToggle,
		musicVideoURL,
		musicVideoState,
		musicVideoLoaded,
		queue,
		queueIndex,
		audioDuration,
		activeLyricIndex,
		syncedLyrics,
		syncedLyricsState
	} from '../../store';
	import { artists, limitString, playSongInSequence } from '$lib';
	import LyricsSkeleton from '$lib/components/skeletons/LyricsSkeleton.svelte';
	import playIcon from '$lib/resources/play-buttonx64.png';
	import playIconInverted from '$lib/resources/play-button-invertedx64.png';
	import { fade, blur } from 'svelte/transition';
	import { quintInOut } from 'svelte/easing';
	import plus from '$lib/resources/plus.png';
	import defaultImg from '$lib/resources/default.png';

	let playButton = playIcon;
	let backgroundVideo: HTMLVideoElement;
	let backgroundImage: HTMLImageElement;

	nowPlayingToggle.subscribe((value) => {
		if ($musicVideoURL && $musicVideoState && backgroundImage) {
			if (value) {
				backgroundImage.style.filter = 'blur(1em) brightness(20%)';
			} else {
				backgroundImage.style.filter = 'blur(50px) brightness(50%)';
			}
		}
	});

	function handleButtonHover(mouseover: boolean) {
		if (mouseover) {
			playButton = playIconInverted;
			backgroundVideo.style.filter = 'blur(0) brightness(40%)';
			console.log(backgroundVideo.style.filter);
		} else {
			playButton = playIcon;
			backgroundVideo.style.filter = 'blur(1em) brightness(50%)';
			console.log(backgroundVideo.style.filter);
		}
	}

	// Function to fetch the music video
	async function fetchMusicVideo() {
		if ($musicVideoState) {
			musicVideoState.set(false);
		} else {
			musicVideoState.set(true);
		}
	}

	let lyricsContainer: HTMLDivElement;
	let queueContainer: HTMLDivElement;
	let lyricsButton: HTMLButtonElement;
	let queueButton: HTMLButtonElement;

	const showLyrics = () => {
		lyricsContainer.style.display = 'block';
		queueContainer.style.display = 'none';
		lyricsButton.style.background = '#272727';
		lyricsButton.style.color = '#fff';
		queueButton.style.background = 'transparent';
		queueButton.style.color = '#777';
	};
	const showQueue = () => {
		lyricsContainer.style.display = 'none';
		queueContainer.style.display = 'flex';
		lyricsButton.style.background = 'transparent';
		lyricsButton.style.color = '#777';
		queueButton.style.background = '#272727';
		queueButton.style.color = '#fff';
	};

	activeLyricIndex.subscribe((value) => {
		const activeLyric: HTMLDivElement | null = document.querySelector('.active-lyric');
		if (activeLyric && lyricsContainer) {
			const containerHeight = lyricsContainer.clientHeight;
			const activeLyricHeight = activeLyric.clientHeight;
			const activeLyricTop = activeLyric.offsetTop;
			const scrollTop = activeLyricTop - containerHeight / 3.5 + activeLyricHeight / 2;
			lyricsContainer.scrollTo({ top: scrollTop, behavior: 'smooth' });
		}
	});

	$: if ($syncedLyrics) {
		const lines = $syncedLyrics.result.lyrics.lines ?? [];
		audioDuration.subscribe((value) => {
			lines.forEach((item, index) => {
				if (index < lines.length - 1) {
					if (
						Number(item.startTimeMs) - 600 <= value &&
						Number(lines[index + 1].startTimeMs) >= value
					) {
						activeLyricIndex.set(index);
					}
				}
			});
		});
	}

	console.log($musicVideoState, $lyricsState, $syncedLyricsState, $syncedLyrics);

	const seekTo = (duration: string, index: number) => {
		return () => {
			const audio: HTMLAudioElement | null = document.querySelector('audio');
			if (audio) {
				let convertedDuration = Number(duration);
				audio.currentTime = convertedDuration / 1000;
				audio.play();
				activeLyricIndex.set(index);
			}
		};
	};
</script>

{#if $nowPlayingToggle}
	<section transition:blur={{ duration: 450, easing: quintInOut }} class="nowplaying-container">
		{#if $musicVideoURL && !$musicVideoState}
			<div transition:blur={{ duration: 550, easing: quintInOut }} class="background-video">
				<video bind:this={backgroundVideo} loop muted autoplay>
					<source src={$musicVideoURL} />
				</video>
			</div>
		{/if}
		<div class="background-image">
			<img bind:this={backgroundImage} src={$playerData.image[2].url} alt="Background" />
		</div>

		{#if !$musicVideoState}
			<div class="nowplaying">
				<div class="image-container">
					<img src={$playerData.image[2].url} alt="Album Art" />
				</div>
				<div class="nowplaying-info">
					<div class="song-title">
						{limitString($playerData.name, 30)}
					</div>
					<div class="song-artist">
						{limitString(artists($playerData.artists.primary), 38)}
					</div>
				</div>

				<div class="music-video">
					<div transition:fade={{ duration: 700 }} class="music-video-button-container">
						<button
							class="music-video-button"
							on:click={fetchMusicVideo}
							on:mouseenter={() => handleButtonHover(true)}
							on:mouseleave={() => handleButtonHover(false)}
						>
							<img
								class={!$musicVideoLoaded ? 'disabled-button' : ''}
								src={playButton}
								alt="Play Button"
							/>
							{#if $musicVideoLoaded && !$musicVideoState}
								<div class="play-button-text">Play Music Video</div>
							{:else}
								<div class="play-button-text">No Music Video</div>
							{/if}
						</button>
					</div>
					<div transition:fade={{ duration: 700 }} class="music-video-button-container">
						<button class="ambient-video-button">
							<span class="material-symbols-rounded {!$musicVideoLoaded ? 'disabled-button' : ''}">
								stop_circle
							</span>
						</button>
					</div>
					<div transition:fade={{ duration: 700 }} class="music-video-button-container">
						<button class="ambient-video-button">
							<span class="material-symbols-rounded"> queue_music </span>
						</button>
					</div>
				</div>
			</div>
		{/if}

		{#if !$musicVideoState && $lyricsState && $lyricsState.type === 'synced' && $syncedLyricsState}
			<div bind:this={lyricsContainer} class="synced-lyrics-container">
				{#if $syncedLyrics}
					{#each $syncedLyrics.result.lyrics.lines as vocal, index}
						<button
							class="synced-lyric {$activeLyricIndex === index ? 'active-lyric' : 'blurred-lyrics'}"
							on:click={seekTo(vocal.startTimeMs, index)}
						>
							{vocal.words}
						</button>
					{/each}
					<div class="synced-lyrics-written-by">
						<div>
							Written by: {@html artists($playerData.artists.all, 'lyricist')}
						</div>
					</div>
				{/if}
			</div>
		{/if}

		{#if !$musicVideoState && !$syncedLyricsState}
			<div class="box-outer-container">
				<div class="box-inner-container">
					<div class="box-container">
						<div class="box-pill-container">
							<div class="box-pill">
								<button bind:this={lyricsButton} class="lyrics-title" on:click={showLyrics}
									>Lyrics</button
								>
								<button bind:this={queueButton} class="queue-title" on:click={showQueue}
									>Queue</button
								>
							</div>
						</div>
						<div bind:this={lyricsContainer} class="song-lyrics">
							{#if !$lyricsState}
								<LyricsSkeleton />
							{:else if $lyricsState && $lyricsState.type === 'unsynced'}
								{#each $lyrics.result as vocal}
									<div class="lyric">
										{vocal}
									</div>
								{/each}
								<div class="written-by">
									Written by: {@html artists($playerData.artists.all, 'lyricist')}
								</div>
							{:else}
								<div class="no-lyrics-found">No lyrics found for this song</div>
							{/if}
						</div>
						<div class="lyric-bottom"></div>

						<div bind:this={queueContainer} class="queue-outer-container">
							<div class="queue-inner-container">
								{#if $queue.length < 2}
									<button class="create-queue-button">
										Create Queue
										<img class="expand" src={plus} alt="" />
									</button>
								{:else}
									<div class="queue-container">
										<div class="up-next-title">Up next</div>
										<button
											class="queue-item up-next"
											on:click={() => playSongInSequence($queue, $queueIndex + 1)}
										>
											<div class="queue-item-image-container">
												<object
													class="queue-item-image"
													data={$queue[$queueIndex + 1].image[0].url}
													type="image/png"
													aria-label="Queue item image"
												>
													<img class="queue-item-image" src={defaultImg} alt="Queue item" />
												</object>
											</div>
											<div class="queue-item-info">
												<div class="queue-item-title">
													{limitString($queue[$queueIndex + 1].name, 32)}
												</div>
												<div class="queue-item-artist">
													{limitString(artists($queue[$queueIndex + 1].artists.primary), 40)}
												</div>
											</div>
											<div class="play-icon-container">
												<img src={plus} class="clear-icon" alt="" />
											</div>
										</button>

										<div class="later-title">Later</div>

										{#each $queue as item, index}
											{#if index > $queueIndex + 1}
												<button
													class="queue-item"
													on:click={() => playSongInSequence($queue, index)}
												>
													<div class="queue-item-image-container">
														<object
															class="queue-item-image"
															data={item.image[0].url}
															type="image/png"
															aria-label="Queue item image"
														>
															<img class="queue-item-image" src={defaultImg} alt="Queue item" />
														</object>
													</div>
													<div class="queue-item-info">
														<div class="queue-item-title">{limitString(item.name, 32)}</div>
														<div class="queue-item-artist">
															{limitString(item.artists.primary[0].name, 40)}
														</div>
													</div>
													<div class="play-icon-container">
														<img src={plus} class="clear-icon" alt="Clear icon" />
													</div>
												</button>
											{/if}
										{/each}
									</div>
								{/if}
							</div>
						</div>
					</div>
				</div>
			</div>
		{/if}
	</section>
{/if}

<style lang="scss">
	@import '$lib/styles/NowPlaying';
</style>
