<script lang="ts">
	// Assets
	import home from '$lib/resources/home.png';
	import explore from '$lib/resources/explore.png';
	import library from '$lib/resources/library.png';
	import pauseIcon from '$lib/resources/pause-button.png';
	import playIcon from '$lib/resources/play-button.png';
	import defaultImg from '$lib/resources/default.png';
	import arrowIcon from '$lib/resources/down.png';
	import plus from '$lib/resources/plus.png';

	// Other imports
	import { page } from '$app/stores';
	import { artists, enqueue, fetchVideo, limitString, playSongInSequence } from '$lib';
	import { playerData, queue, queueIndex } from '../../store';
	import { onMount } from 'svelte';

	// Local variable declarations
	let currentSong: any = [];
	let queueOpen: boolean = false;
	let arrowRef: HTMLImageElement;
	let queueElement: HTMLElement;
	let buttonContainer: HTMLElement;

	const queueStateHandler = () => {
		if (queueOpen) {
			arrowRef.style.transform = 'rotateZ(0deg)';
			queueElement.style.height = '16vh';
			queueElement.style.overflowY = 'hidden';
			queueElement.style.paddingBottom = '0';
			buttonContainer.style.background = '#111';
			queueOpen = false;
		} else {
			arrowRef.style.transform = 'rotateZ(180deg)';
			queueElement.style.height = 'fit-content';
			queueElement.style.overflowY = 'scroll';
			queueElement.style.paddingBottom = '3em';
			buttonContainer.style.background = '#111111dd';
			queueOpen = true;
		}
	};

	$: if (queueElement) {
		if ($queue.length < 2) {
			queueElement.style.height = '3em';
			queueOpen = false;
		}
		if ($queue.length > 1 && !queueOpen) queueElement.style.height = '16vh';
	}
</script>

<nav class="sideNav">
	<div class="navMenu">
		<a href="/" class="navMenuItem" class:active={$page.url.pathname === '/'}>
			<div>
				<img class="navMenuIcon homeIcon" src={home} alt="Home icon" />
				<span class="navMenuText"> Home </span>
			</div>
		</a>
		<a href="/explore" class="navMenuItem" class:active={$page.url.pathname.includes('/explore')}>
			<div>
				<img class="navMenuIcon" src={explore} alt="Explore" />
				<span class="navMenuText"> Explore </span>
			</div>
		</a>
		<a
			href="/library"
			class="navMenuItem"
			class:active={$page.url.pathname.includes('/library')}
		>
			<div>
				<img class="navMenuIcon" src={library} alt="Your Library icon" />
				<span class="navMenuText"> My Library </span>
			</div>
		</a>
	</div>
	<div bind:this={queueElement} class="playQueueContainer">
		<div class="playQueue">
			{#if $queue.length < 2}
				<button class="playQueueTitle" on:click={queueStateHandler}>
					Create Queue
					<img class="expand" src={plus} alt="" />
				</button>
			{:else}
				<div class="queueContainer">
					<div class="up-next-title">Up next</div>
					<button class="queueItem up-next" on:click={() => playSongInSequence($queue, $queueIndex + 1)}>
						<div class="queueItemArtContainer">
							<object
								class="queueItemArt"
								data={$queue[$queueIndex + 1].image[0].url}
								type="image/png"
								aria-label=""
							>
								<img class="queueItemArt" src={defaultImg} alt="" />
							</object>
						</div>
						<div class="queueItemInfo">
							<div class="queueItemTitle">{limitString($queue[$queueIndex + 1].name, 16)}</div>
							<div class="queueItemArtist">
								{limitString(artists($queue[$queueIndex + 1].artists.primary), 18)}
							</div>
						</div>
						<div class="playIconContainer">
							<img src={plus} class="clearIcon" alt="" />
						</div>
					</button>

					<div class="later-title">Later</div>

					{#each $queue as item, index}
						{#if index > $queueIndex + 1}
							<button class="queueItem" on:click={() => playSongInSequence($queue, index)}>
								<div class="queueItemArtContainer">
									<object
										class="queueItemArt"
										data={item.image[0].url}
										type="image/png"
										aria-label=""
									>
										<img class="queueItemArt" src={defaultImg} alt="" />
									</object>
								</div>
								<div class="queueItemInfo">
									<div class="queueItemTitle">{limitString(item.name, 16)}</div>
									<div class="queueItemArtist">{limitString(item.artists.primary[0].name, 18)}</div>
								</div>
								<div class="playIconContainer">
									<img src={plus} class="clearIcon" alt="" />
								</div>
							</button>
						{/if}
					{/each}
				</div>
			{/if}
		</div>
	</div>
	{#if $queue.length > 2}
		<div bind:this={buttonContainer} class="button-container">
			<button on:click={() => queue.set([])} class="clearQueueButton">
				<img src={plus} alt="Clear icon" />
			</button>
			<button on:click={queueStateHandler} class="expandQueueButton">
				<img bind:this={arrowRef} src={arrowIcon} alt="Create icon" />
			</button>
		</div>
	{/if}
</nav>

<style lang="scss">
	@import '$lib/styles/components/Sidebar.scss';
</style>
