<script lang="ts">
	import { searchQuery } from '../../store';
	import { limitString } from '$lib';
	import { fetchSong } from '$lib';
	import play from '$lib/resources/play-button.png';
	import defaultImg from '$lib/resources/default.png';
	import SuggestionsSkeleton from '$lib/components/skeletons/SuggestionsSkeleton.svelte';

	const handleImageError = (event: any) => {
		event.target.src = defaultImg;
	}

	export let results: JSON;
</script>

{#if results}
	<section class="suggestions-container">
		{#if results.data.topQuery}
			<div class="top-suggestion">
				<object
					class="song-art"
					data={(results.data.topQuery
						? results.data.songs.results[0].image[1].url
						: results.data.topQuery.results[0].image[1].url)}
					type="image/png"
					aria-label="Song Art"
				>
					<img class="song-art" src={defaultImg} on:error={handleImageError} alt="Default image" />
				</object>
				<div class="song-info">
					<div class="song-title">
						{results.data.topQuery
							? limitString(results.data.songs.results[0].title, 24)
							: limitString(results.data.topQuery.results[0].title, 24)}
					</div>
					<div class="song-artist">
						{results.data.topQuery
							? results.data.songs.results[0].primaryArtists
							: results.data.topQuery.results[0].primaryArtists
								? results.data.topQuery.results[0].primaryArtists
								: results.data.topQuery.results[0].description}
					</div>
				</div>
				<div class="button-container">
					<button
						type="button"
						on:click={() => {
							if (results.data.topQuery)
								fetchSong(results.data.topQuery.results[0].id, true);
							else fetchSong(results.data.songs.results[0].id, true);
						}}
					>
						<img draggable={false} class="play-icon" src={play} alt="" />
					</button>
				</div>
			</div>
		{/if}
		<div class="suggestions">
			{#each results.data.songs.results as item}
				<a
					href={`/explore/search?query=${item.title}%20-%20${item.primaryArtists}`}
					data-sveltekit-preload-data="tap"
					class="suggestion"
				>
					<span class="material-symbols-rounded search-icon"> search </span>
					<div class="suggestion-title">
						{item.title} - {item.primaryArtists}
					</div>
					<button
						on:click={() => {
							searchQuery.set(`${item.title}%20-%20${item.primaryArtists}`);
						}}
					>
						<span class="material-symbols-rounded up-arrow"> north_west </span>
					</button>
				</a>
			{/each}
		</div>
	</section>
{:else}
	<SuggestionsSkeleton />
{/if}

<style lang="scss">
	@import '$lib/styles/components/Suggestions.scss';
</style>
