<script lang="ts">
	// Imports
	import { goto } from '$app/navigation';

	// Custom imports
	import { appendToLocalStorage, debounce } from '$lib';
	import { documentationState, nowPlayingToggle, searchQuery, showSuggestions } from '../../store';

	// Assets
	import icon from '$lib/resources/icon.png';
	import accountIcon from '$lib/resources/account.png';
	import Suggestions from '$lib/components/Suggestions.svelte';
	import AccountBox from '$lib/components/AccountBox.svelte';
	import { dev } from '$app/environment';

	// Declarations
	let searchTerm = $searchQuery;
	let searchBox: HTMLInputElement;
	let documentation: HTMLElement;
	let results: JSON;
	let formComponent: HTMLFormElement;
	let accountBoxHidden: boolean = true;
	let accountPanel: HTMLElement;



	// Debouncing function (Delays search in order to prevent API exhaustion)
	const debouncedSearch = debounce(async (term: string) => {
		try {
			showSuggestions.set(true);
			const response = await fetch(`https://rhythmie-api.vercel.app/api/search?query=${term}`)
			results = await response.json();
			console.log(results);
		} catch (err) {
			console.error(err);
		}
	}, 500); // delay (in milliseconds)

	const suggestionHandler = (event: Event) => {
		debouncedSearch((event.target as HTMLInputElement).value);
	}

	// To handle text input in the search box
	const searchHandler = (event: Event) => {
		showSuggestions.set(false);
		searchTerm = searchBox.value;
		appendToLocalStorage('searchHistory', searchTerm);
		if (localStorage.getItem('searchHistory')) console.log("lololol: ", localStorage.getItem('searchHistory'));
		event.preventDefault();
		goto(`/explore/search?query=${searchTerm}`); // setting URL params
		nowPlayingToggle.set(false);
	};

	documentationState.subscribe((value) => {
		documentation = <HTMLElement>value;
	});

	const openDocumentation = () => {
		documentation.style.display = "block";
	}

	$: if (formComponent) {
		formComponent.addEventListener('focusin', () => {
			if ($searchQuery ? $searchQuery.split('').length > 0 : false)
				showSuggestions.set(true);
		});
		formComponent.addEventListener('focusout', () => {
			setTimeout(() => {
				showSuggestions.set(false);
			}, 100);
		});
	}

	$: if (accountPanel) {
		accountPanel.addEventListener('focusin', () => {
			accountBoxHidden = false;
		});
		accountPanel.addEventListener('focusout', (event) => {
			console.log(event.relatedTarget as Node);
			if (!accountPanel.contains(event.relatedTarget as Node))
				accountBoxHidden = true;
		});
	}
</script>

<div class="topbar">
	<div class="barTitle">
		<img class="barIcon" src={icon} alt="Rhythmie icon" />
		<div class="barTitleTextContainer">
			<div class="barTitleText">Rhythmie</div>
			<button on:click={openDocumentation} class="version">
				In-Dev
			</button>
		</div>
	</div>

	<form bind:this={formComponent} on:submit={searchHandler} class="searchBar">
		<input
			maxlength="46"
			placeholder="What's on your mind?"
			class="searchBox"
			type="text"
			bind:this={searchBox}
			bind:value={searchTerm}
			on:input={suggestionHandler}
		/>
		<span class="material-symbols-rounded clearBox">close</span>
	</form>

	{#if $showSuggestions}
		<Suggestions results={results} />
	{/if}

	<div bind:this={accountPanel} class="userAccountPanel">
		<div class="account-panel">
			<a class="support-link" href="/support">
			<span class="material-symbols-rounded">
				question_mark
			</span>
			</a>
			<button class="accountIcon">
				<img alt="Account Icon" src={accountIcon} />
			</button>
		</div>

		{#if !accountBoxHidden}
			<AccountBox />
		{/if}

	</div>
</div>

<style lang="scss">
	@import '$lib/styles/components/Topbar.scss';
</style>
