<script lang="ts">
	import dots from '$lib/resources/dots.png';
	import { artists, converter, enqueue, fetchVideo, playSongInSequence } from '$lib';
	import { albumInfo, albumInfoLoading, playerData, queue } from '../../../../store';

	let results: object;

	albumInfo.subscribe((value) => {
		results = value;
	});

	const playAlbum = async () => {
		queue.set([]);
		results.data.songs.forEach((song: object) => {
			enqueue(song);
		});
		playerData.set(results.data.songs[0]);
		await fetchVideo(results.data.songs[0].name, results.data.songs[0].artists.primary);
	};
</script>

<svelte:head>
	{#if !$playerData}
		<title>{results.data.name} - {results.data.artists.primary[0].name} | Rhythmie</title>
	{/if}
</svelte:head>


{#if $albumInfoLoading}
	<div class="loading-container">
		<div class="loading">Loading...</div>
	</div>
{:else}
	<section class="container">
		<div class="album-info-container">
			<div class="album-cover">
				<img src={results.data.image[2].url} alt="" />
			</div>
			<div class="album-info">
				<h1 class="album-title">
					<div class="title">{results.data.name}</div>
				</h1>
				<a
					data-sveltekit-preload-data="tap"
					href="/browse/artist?id={results.data.artists.primary[0].id}"
					class="album-artist"
				>
					<img src={results.data.artists.primary[0].image[0].url} alt="" />
					{results.data.artists.primary[0].name}
				</a>
				<p class="album-duration">{results.data.year} release · {results.data.songCount} songs</p>
				<div class="album-controls">
					<button on:click={playAlbum} class="play-button">
						<span class="material-symbols-rounded"> play_arrow </span>
						Play
					</button>
					<button class="add-button">
						<span class="material-symbols-rounded"> add_circle </span>
						Add to My Library
					</button>
					<button class="more-button">
						<span class="material-symbols-rounded"> more_vert </span>
					</button>
				</div>
			</div>
		</div>
		<div class="songs-container">
			{#each results.data.songs as item, index}
				<button class="element" on:click={() => playSongInSequence(results.data.songs, index)}>
					<!-- The fetchSong function is called when the button is clicked, passing the item's id as an argument -->
					<div class="index-container">
						<span class="play-button material-symbols-rounded"> play_arrow </span>
						<div class="index">
							{index + 1}
						</div>
					</div>
					<div class="element-info">
						<div
							style={$playerData
								? $playerData.id === item.id
									? 'color: #8f49ff'
									: 'color: #fff'
								: 'color: #fff'}
							class="title"
						>
							{item.name}
							{#if item.explicitContent}
								<span class="explicit">E</span>
							{/if}
						</div>
						<div class="artist">{artists(item.artists.primary)}</div>
					</div>
					<div class="duration">
						{converter(item.duration)}
					</div>
					<button class="option-button">
						<img draggable={false} class="option-icon" src={dots} alt="" />
					</button>
				</button>
			{/each}
		</div>
	</section>
{/if}

<style lang="scss">
	@import '$lib/styles/browse/album/Album.scss';
</style>
