@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	width: 100%;
	padding: 2em 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: -2%;
	border-radius: 1em;

	.element {
		@include glass-pane;
		padding: 1em;
		margin: 0 2.5%;
		text-align: left;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
	}
	.element:nth-last-child(1) {
		.see-more {
			display: flex;
			justify-content: center;
			align-items: center;
			text-wrap: nowrap;

			span {
				margin-left: 0.6em;
			}
		}
	}

	.album-art {
		border-radius: 1em;
		overflow: hidden;
	}

	.element-info {
		display: flex;
		flex-direction: column;
		width: 150px;

		.title {
			margin-top: 15px;
			height: 1.4vh;
			width: 100%;
			font-size: 0.9rem;
			font-family: 'Josefin Sans', sans-serif;
		}

		.artist {
			margin-top: 5px;
			height: 1.4vh;
			font-size: 0.8rem;
			color: #999;
			font-family: 'Josefin Sans', sans-serif;
		}
	}
}

@media (hover: hover) {
	.element {
		transition: 0.1s;
		&:hover {
			cursor: pointer;
			transform: scale(1.05);
			box-shadow: 0 0 10px 0 #00000050;
		}
	}
}
