@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: -2%;

	.element {
		@include glass-pane;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;
		margin: 0 2.5%;
		background: #171717;
		border-radius: 20px;
	}

	.element:nth-last-child(1) {
		.see-more {
			display: flex;
			justify-content: center;
			align-items: center;
			text-wrap: nowrap;

			span {
				margin-left: 0.6em;
			}
		}
	}

	.artist-profile {
		border-radius: 20rem;
		overflow: hidden;

		img {
			height: 150px;
			width: 150px;
		}
	}

	.element-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			margin-top: 15px;
			height: 1.4vh;
			width: 100%;
			font-size: 0.9rem;
			font-family: 'Josefin Sans', sans-serif;
		}

		.description {
			margin-top: 5px;
			height: 1.4vh;
			font-size: 0.8rem;
			color: #999;
			font-family: 'Josefin Sans', sans-serif;
		}
	}
}

@media (hover: hover) {
	.element {
		transition: 0.1s;
		&:hover {
			cursor: pointer;
			transform: scale(1.05);
			box-shadow: 0 0 10px 0 #00000050;
		}
	}
}
