@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	@include glass-pane;
	margin-bottom: 2em;
	border-radius: 1em;
	padding: 0.4em 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.element {
		height: 5.9vh;
		width: 98%;
		display: flex;
		align-items: center;
		padding: 0.6em 0.7em;
		margin: 0.5em 0.5em 0.4em;
		transition: 0.4s;
		border-radius: 1em;

		.music-art-container {
			.music-art-button {
				height: 50px;
				width: 50px;
				background: #2a2a2a;
				border-radius: 10px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;

				.music-art {
					display: flex;
					align-items: center;
					justify-content: center;

					.default-img {
						height: 36px;
						width: 36px;
					}
				}

				.now-playing-container {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					height: 50px;
					width: 50px;
					border-radius: 10px;
					border: 1px solid #333;
					background: rgba(0, 0, 0, 0.83);
				}

				.now-playing {
					width: 30px;
				}

			}

			.play-icon {
				position: absolute;
				font-size: 2rem;
				background: #222;
				padding: 15px;
				opacity: 0;
			}
		}

		.element-info {
			margin-left: 15px;
			width: 100%;

			.title {
				height: 14px;
				width: 100%;
				margin-bottom: 10px;
				border-radius: 100px;
				font-size: 17px;
				white-space: nowrap;
			}

			.artist {
				height: 10px;
				width: 100%;
				border-radius: 100px;
				opacity: 0.5;
				font-size: 14px;
			}
		}

		.option-button {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.option-icon {
				width: 22px;
			}
		}

		.see-more {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				margin-left: 0.5em;
				font-size: 1.2rem;
			}
		}
	}

	.element:nth-last-child(1) {
		height: 1.8em;
	}
}

@media (hover: hover) {
	.element:hover {
		cursor: grab;
		background: #222;

		.option-button {
			cursor: grab;

			.option-icon {
				cursor: pointer;
			}
		}

		.music-art-container {
			.play-icon {
				opacity: 0.8;
			}
		}
	}

	.music-art-button:hover {
		cursor: pointer;
	}
}
