@mixin glass-pane {
	background: #17171700;
	border: 1px solid #333;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 28px #0f0f0f;
}

.container {
	@include glass-pane;
	border-radius: 20em;
	margin-top: 6vh;
	margin-bottom: 8vh;
	margin-left: -1%;
	display: flex;
	align-items: center;
	height: 150px;
	width: 100%;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.element {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(8px) brightness(60%);
	opacity: 1;
	transition: .3s;
	border-radius: 20em;
}

.element-picture {
	border-radius: 20em;
	background: #2a2a2a;
	height: 100%;
	width: 150px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 24px #171717;
	object {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 100%;
			width: 100%;
		}

		.default-img {
			height: 100%;
			width: 100%;
			//filter: grayscale(100%);
		}
	}
}

@media(hover:hover) {
	.element-picture:hover {
		cursor: pointer;
		opacity: .8;
	}
}

.element-info {
	margin-left: 1.4em;
	display: flex;
	align-items: center;
	height: 100%;

	.title {
		margin-bottom: 0.5em;
		width: 20em;
		border-radius: 20em;
		font-size: 24px;
		font-family: 'Josefin Sans', sans-serif;
		text-shadow: 0 0 10px #222;
	}

	.artist {
		width: 100%;
		border-radius: 20em;
		font-family: 'Josefin Sans', sans-serif;
		color: #8f49ff;
		font-size: 17px;
	}
}

.button-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-right: 1em;

	.play-button {
		width: 38px;
		height: 38px;
	}
}

.play-button:hover {
	cursor: pointer;
}
