@mixin glass-pane {
  background: #17171700;
  border: 1px solid #333;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 28px #0f0f0f;
}

.elements-container {
  @include glass-pane;
  border-radius: 1em;
  padding: 0.4em 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0.6em 0.6em;
  margin: 0.5em 0.5em 0.4em;
  transition: 0.4s;
  border-radius: 1em;
}

.music-art-container {
  .music-art-button {
    height: 112.5px;
    width: 200px;
    background: #2a2a2a;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .music-art {
      height: 112.5px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .default-img {
        height: 36px;
        width: 36px;
      }
    }
  }

  .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 3rem;
    background: #222;
    border: 1px solid #444;
    border-radius: 1rem;
    padding: 15px;
    opacity: 0;
    height: 81px;
    width: 170px;
  }

  .play-icon:hover {
    cursor: pointer;
    background: #333;
  }

  .now-playing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 112.5px;
    width: 200px;
    background: #000000cc;
    border: 1px solid #333;
    border-radius: 1rem;
  }

  .now-playing {
    height: 50px;
    width: 50px;
  }

}

.anchor-area {
  height: 112.5px;
  width: 100%;
}

.element-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  height: 100%;
  width: 90%;

  .title {
    height: 1em;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .author {
    width: 50%;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    margin: .7em 0;
  }

  .duration {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    background: #00000077;
    color: #fff;
    position: absolute;
    left: 22%;
    padding: .4em;
    margin-top: 6.5em;
    border-radius: .4em;
  }

  .view-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
    opacity: 0.5;
    margin-bottom: 1em;
  }
}

.option-button {
  height: 112.5px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .option-icon {
    width: 22px;
  }
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    margin-left: 1em;
  }
}


@media (hover: hover) {
  .category:hover {
    cursor: pointer;
    background: #fff;

    div {
      color: #000;
    }
  }
  .element:hover {
    background: #222;

    .music-art-container {
      .music-art-button {
        .play-icon {
          opacity: 0.8;
        }
      }
    }
  }
  .music-art-button:hover {
    cursor: pointer;
  }
}
