.homepage {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

.greeting {
    font-family: "Josefin Sans", sans-serif;
    position: fixed;
    top: 0;
}

.greetingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.card-title {
    font-size: 1.7rem;
    margin-top: 3em;
}

.blob {
    position: fixed;
    // left: 6%;
    // top: -20%;
    right: 36%;
    z-index: 0;
    // color: #c18aff;
}

.heroContainer {
    position: relative;
    top: 2%;
    left: 15em;
    display: flex;
    flex-direction: column;

    img {
        width: 130px;
        border: 4px solid #bbb;
        border-radius: 10rem;
        box-shadow: 0 0 20px #333;
    }
}

.heroImages {
    transition: .7s;
    &:nth-child(odd) {
        position: relative;
        left: 9em;
    }
}

.greeting {
    z-index: 1;
    position: relative;
    top: 2em;
}

.greetingText {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}

.greetingStyle {
    width: 2rem;
    height: 2rem;
    margin-left: .6em;
}

.username {
    margin-top: .8em;
    display: flex;
    align-items: center;
    color: #fff;
}
.usernameField,
.usernameInput {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    // color: transparent;
    // -webkit-text-stroke: 2px #000;
}
.usernameInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6f16ff;
    caret-color: #fff;
    display: none;
}
.usernameInput::placeholder {
    color: transparent;
    -webkit-text-stroke: 1px #aaa;
}
.editUsername {
    margin-left: 15px;
    opacity: 0;
}

.heroImages:hover {
    cursor: pointer;
    transform: scale(1.2) rotateY(180deg);
}

















/*
#homePage {
    overflow: scroll;
    overflow-x: hidden;
    z-index: 3;
    margin-left: 250px;
}
.content {
    margin-top: 12vh;
    margin-left: 2vw;
}
.greeting {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 40px;
}
.username {
    margin-top: 17px;
    display: flex;
    align-items: center;
}
.usernameField,
.usernameInput {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
#usernameInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6f16ff;
    caret-color: #fff;
    display: none;
}
#usernameInput::placeholder {
    color: transparent;
    -webkit-text-stroke: 1px #aaa;
}
#editUsername {
    margin-left: 15px;
    opacity: 0;
}
#lastPlayedSectionTitle {
    font-size: 18px;
    margin-left: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
#lastPlayedContainer, #likedSongsContainer {
    height: 100%;
    width: 100%;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    margin-top: 20px;
    margin-right: 5px;
    overflow: hidden;
    border: 1px solid #444;
    background: url("https://miro.medium.com/v2/resize:fit:952/1*fpgvaFnX1cYA0VBs6Cz1Lg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#likedSongsContainer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background: url("https://w0.peakpx.com/wallpaper/395/439/HD-wallpaper-purple-heart-galaxy-galaxy-hearts-purple-thumbnail.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
#lastPlayed, #likedSongs {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(7px) contrast(130%) brightness(28%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
#likedSongs {
    backdrop-filter: blur(7px) contrast(130%) brightness(70%);
}

#secondaryHomeSection {
    display: inline-flex;
    margin-bottom: 20px;
}
#playButtonContainer {
    position: relative;
    right: 25px;
}

#lastPlayedArt, #likedSongsArt {
    margin: 7px 14px;
}

#lastPlayedArt > img {
    width: 115px;
    border-radius: 300px;
    background: #0a0a0a;
}
#lastPlayedDetails,
#likedSongsDetails {
    width: 405px;
}
#lastPlayedTitle,
#likedSongsTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 7px;
    text-shadow: 0 0 12px #000;
}
#lastPlayedArtist,
#likedSongsNumber {
    font-family: 'Josefin Sans', sans-serif;
    color: #7d2cff;
    font-size: 18px;
    text-shadow: 0 0 12px #000;
}
#homeCardContainer {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 1fr .1fr;
    width: 92%;
}
#likedSongs {
    display: flex;
    align-items: center;
}
#heartIcon {
    background: #0a0a0a;
    padding: 25px;
    border-radius: 300px;
    width: 65px;
}
#homePageTitleContainer {
    font-size: 25px;
    display: flex;
    margin: 20px 5px;
}
#homePageTitle {
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    width: 200px;
}
#homeSeparatorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
#homeSeparator {
    width: 130px;
    height: 5px;
    background: #ddd;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

#fireEmoji {
    height: 25px;
}
#handWaveEmoji {
    height: 30px;
    padding-left: 8px;
}

@media (hover:hover) {

    #editUsername:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    #username:hover > #editUsername {
        opacity: 1;
    }

    #lastPlayedContainer:hover {
        border-radius: 400px;
        margin-right: 40px;
        cursor: pointer;
        box-shadow: 0 0 20px #331368;
    }
    #likedSongsContainer:hover {
        border-radius: 400px;
        margin-left: 40px;
        cursor: pointer;
        box-shadow: 0 0 20px #331368;
    }

}

@media only screen and (max-width: 1800px) {
    #homeCardContainer {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr .1fr;
    }
}

@media only screen and (max-width: 1560px) {
    #homeCardContainer {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr .1fr;
    }
}

@media only screen and (max-width: 1480px) {
    #secondaryHomeSection {
        flex-direction: column;
        width: 91%;
    }
    #lastPlayedContainer {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #likedSongsContainer {
        margin-top: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }
    #lastPlayed, #likedSongs {
        justify-content: flex-start;
    }
    #playButtonContainer {
        position: absolute;
        right: 40px;
    }
}

@media only screen and (max-width: 1300px) {
    #homeCardContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .1fr;
    }
}

@media only screen and (max-width: 970px) {
    #content {
        margin-top: 9vh;
    }
    #homePage {
        margin-left: 9vw;
    }
}

@media only screen and (max-width: 840px) {
    #homeCardContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .1fr;
    }
    #lastPlayedArt > img {
        width: 70px;
    }
    #heartIcon {
        width: 40px;
        padding: 12px;
        border: 1px solid #444;
    }
    #lastPlayedContainer {
        margin-bottom: -8px;
    }
    #homePageTitleContainer {
        margin-top: 10px;
        font-size: 1.2em;
    }
    #fireEmoji {
        height: 20px;
    }
    #handWaveEmoji {
        padding-left: 0;
    }
}
@media only screen and (max-width: 580px) {
    #homeCardContainer {
        margin-left: 2vw;
        gap: 4vw;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .1fr;
    }
    #lastPlayedTitle, #likedSongsTitle {
        font-size: .9em;
    }
    #lastPlayedArtist, #likedSongsNumber {
        font-size: .8em;
    }
    #playButtonContainer {
        position: relative;
        right: 24px;
    }
    #playButton {
        width: 24px;
    }
    #usernameField,
    #usernameInput {
        font-size: 1.4em;
        -webkit-text-stroke: .5px #fff;
    }
    #greeting {
        font-size: 1.6em;
    }
    #lastPlayedArt > img {
        width: 64px;
        border: 1px solid #444;
    }
}

@media only screen and (max-width: 550px) {
    #homePage {
        margin-left: 4vw;
    }
}

*/