@mixin glass-pane {
  border: 1px solid #333;
  background: #1717171e;
  backdrop-filter: blur(20px) brightness(70%);
}

.account-box-container {
  @include glass-pane;
  //height: 20em;
  //width: 26em;
  overflow: hidden;
  border-radius: 1em;
  margin-right: .2em;
}

.unauthorised-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2em;
}

.unauthorised-title {
  font-family: 'Josefin Sans', sans-serif;
}

.create-account {
  background: #eee;
  color: #000;
}

.account-info {
  padding: 2em 5.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000aa;
}

.account-picture {
  margin-bottom: 1em;
  img {
    height: 60px;
    width: 60px;
  }
}

.account-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}

.account-email {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.edit-profile {
  border: 1px solid #fff;
  padding: .4em .7em;
  margin-top: 1em;
  border-radius: 1em;
}

.edit-profile:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.account-actions {
  padding: .8em;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-action {
  margin: 0.5em;

  button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    border-radius: .5em;
  }

  button:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    transform: scale(1.05);
  }
}

.settings-button {
  background: #fff;
  color: #000;
}