.music-video-container {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	transition: .4s ease;
}

.music-video {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 720px;
	width: 1280px;
	border: 1px solid #333;
	border-radius: 2em;
	margin-bottom: 6.5em;
	padding: 0;
	background: #000;
	transition: .4s ease;
}

.music-video:hover {
	cursor: pointer;

	.music-video-play-icon-container {
		opacity: 1;
	}
}

.music-video-play-icon-container {
	position: fixed;
	z-index: 6;
	height: 720px;
	width: 1280px;
	background: #000000bb;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	opacity: 0;
	transition: .4s ease;
}

.video {
	height: 100%;
	width: 100%;
}

.close-music-video {
	position: fixed;
	top: 1.4em;
	right: 1.4em;

	span {
		font-size: 2.6rem;
	}
}

.close-music-video:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.player {
	display: flex;
	height: 6.5em;
	width: 96%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1%;
	z-index: 5;
	border-radius: 1.4em;
	border: 1px solid #333;
	padding: 0 0.7em;
	background: #171717bd;
	backdrop-filter: blur(12px) brightness(90%);
	box-shadow: 0 0 28px #0a0a0a;
}

.song-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	font-size: 1.3rem;
	color: #fff;
}

.song-art-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.song-art-element {
	overflow: hidden;
	border-radius: 0.8rem;
	background: #0f0;
}

.up-arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.8rem;
	height: 70px;
	width: 70px;
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
	opacity: 0;
}

.song-art {
	height: 70px;
	width: 70px;
	z-index: 1;
	background: #2a2a2a;
	display: flex;
	justify-content: center;
	align-items: center;

	.default-img {
		height: 40px;
		width: 40px;
	}
}

.song-info {
	width: 100%;
	margin-left: 0.6em;
	transition: 0.4s;
}

.song-name {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	display: flex;
	align-items: center;
}

.explicit {
	background: #666;
	border-radius: 0.3em;
	padding: 0.1em 0.4em;
	font-size: 0.7rem;
	color: #171717;
	margin-left: 0.7em;
	margin-bottom: 0.2em;
}

.song-artist {
	margin-top: 0.4em;
	font-size: 17px;
	color: #8f49ff;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0 0 7px #242424;
}

.controls-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.controls {
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shuffle-button,
.repeat-button {
	width: 18px;
	margin: 0 1em;
}

.play-pause-button {
	width: 26px;
	margin: .3em .6em;
}

.next-button,
.prev-button {
	width: 20px;
	transition: 0.4s;
}
.total-seek {
	height: 5px;
	width: 100%;
	z-index: 2;
	transition: 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		font-family: 'Montserrat', sans-serif;
		font-size: 0.8rem;
		width: 3rem;
		overflow: hidden;
	}
}

.seekbar {
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	transition: 0.4s;
	overflow: hidden;
	background-color: #333;
	border-radius: 30px;
	margin-left: 10px;
	margin-right: 16px;
}

.seekbar::-webkit-slider-thumb {
	-webkit-appearance: none;
	user-select: none;
	height: 20px;
	width: 0;
	background: #000;
	box-shadow: -100vw 0 0 100vw #8b42ff;
}

.options {
	height: fit-content;
	width: fit-content;
	position: absolute;
	right: 8em;
	bottom: 7.4em;
	z-index: 3;
	border: 1px solid #333;
	border-radius: 1em;
	overflow: hidden;
	background: #171717aa;

	.option {
		display: flex;
		align-items: center;
		padding-left: .8em;
		width: 100%;

		.option-icon {
			font-size: 1.2rem;
			color: #ddd;
		}

		.option-text {
			padding: 1em 1em 1em .5em;
			width: 100%;
			text-align: left;
			text-wrap: nowrap;
			font-size: 1rem;
		}
	}

	.option:hover {
		cursor: pointer;
		background: #282828;
	}
}

.other-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;

	img {
		width: 25px;
	}
}

.suggestion-button {
	transition: 0.3s;
	margin-right: 0.2em;
	border-radius: .5em;
	padding: .4em;
}

.suggestions-active {
	background: #0c0c0c;
}

.suggestion-button:hover {
	cursor: pointer;
	background: #222;
}

.fav-button {
	transition: 0.3s;
	transform: scale(0.95);
	margin-right: 0.5em;
}

.bottom-menu {
	transition: 0.3s;
	margin-right: 0.5em;
}

.volume-button {
	transition: 0.3s;
	margin-right: 0.8em;
}

.volume-slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #333;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.4s;
	margin-right: 0.7em;
}
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #8b42ff;
	box-shadow: -100vw 0 0 100vw #8b42ff;
	height: 10px;
	width: 20px;
	border-radius: 20px;
}

@media (hover: hover) {
	.play-pause-button:hover {
		transform: scale(1.08);
		cursor: pointer;
	}

	.song-art-container:hover {
		cursor: pointer;
		transform: scale(1.05);

		.up-arrow-container {
			opacity: 1;
		}
	}

	.song-artist:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	.next-button:hover,
	.prev-button:hover {
		cursor: pointer;
		transform: scale(1.08);
	}
	.seekbar:hover {
		cursor: pointer;
	}
	.volume-slider:hover {
		cursor: pointer;
	}
	.bottom-menu:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	.volume-button:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	.fav-button:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}

@media only screen and (max-width: 970px) {
	#bottomBar {
		bottom: 60px;
		left: 5%;
		border-radius: 20px;
		height: 65px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
	}
	#totalSeek {
		width: 102%;
		bottom: 0;
		background: transparent;
	}
	#seekBar {
		background: transparent;
	}
	#currentDuration,
	#totalDuration {
		display: none;
	}
	#bottomIcons {
		display: none;
	}
	#musicControls {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	#shuffleButton,
	#repeatButton,
	#prevButton,
	#nextButton {
		display: none;
	}
	#musicComponent > img {
		width: 18px;
		margin-right: 6px;
	}
	#musicComponent {
		margin-right: 15px;
	}
	#songArtContainer {
		left: 14px;
	}
	#songArt {
		height: 42px;
		width: 42px;
	}
	#musicInfo {
		bottom: 15px;
	}
	#songInfo {
		left: 68px;
	}
}
@media only screen and (max-width: 600px) {
	#songArt {
		border-radius: 0.5rem;
	}
	#musicInfo {
		font-size: 0.9em;
	}
	#songArtist {
		font-size: 0.8em;
	}
	#musicInfo {
		bottom: 16px;
	}
	#seekBar {
		height: 2px;
	}
}
