
@mixin glass-pane {
    border: 1px solid #444;
    filter: drop-shadow(0 0 20px #000);
    background: #1717171e;
    // backdrop-filter: blur(14px);
}

$separator: 1px solid #333;


.sideNav {
    @include glass-pane;
    height: fit-content;
    width: 14em;
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-left: .4em;
    margin-top: 1em;
    overflow: hidden;
    position: fixed;
    top: 4em;
    left: 0;
    border-radius: 1.2em;
}
.navMenu {
    padding-bottom: 1.2em;
    width: 90%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
}
.navMenuItem {
    font-size: 1rem;
    margin-top: .6em;
    padding: .6em;
    padding-left: 1em;
    transition: 0.1s;
    display: flex;
    flex-direction: column;
    width: 83%;
    height: 100%;
    margin-left: 1em;
    border-radius: 1rem;
}
.navMenuIcon {
    width: 1.4rem;
    margin-left: 4px;
    margin-top: 4px;
}
.homeIcon {
    width: 1.5rem;
}
.navMenuText {
    margin-left: .6em;
    position: relative;
    top: -.3em;
}
.active {
    background: #a5a5a52a;
    box-shadow: 0 0 .8em #111;
}
.playQueueContainer {
    margin-left: -.4em;
    border-top: $separator;
    backdrop-filter: blur(10px);
    height: 3em;
    max-height: 50vh;
    overflow: hidden;
    transition: .4s;
}
.playQueue {
    padding-left: .4em;
    width: 100%;
    margin-bottom: 1em;
}
.playQueueTitle {
    font-size: 1rem;
    padding: .9em 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.playQueueTitle:hover {
    background: #2a2a2a;
}

.playQueueTitle > img {
    position: absolute;
    right: 10%;
    width: 20px;
    // transform: rotate(180deg);
}

.queueContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
    width: 98%;
}

.up-next-title {
    width: 86%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9rem;
    opacity: .5;
}

.later-title {
    width: 86%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9rem;
    opacity: .5;
    margin-top: 1.1em;
}

.up-next {

}

.queueItem {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1em;
    margin-top: .8em;
    transition: .2s;
    padding: .6em .4em;
    width: 90%;
}
.queueItemArtContainer {
    display: flex;
}
.queueItemArt {
    width: 35px;
    height: 35px;
    border-radius: .7em;
}
.queueItemTitle {
    font-size: 1em;
    margin-bottom: .2em;
}
.queueItemArtist {
    font-size: .9em;
    color: #999;
}
.queueItemInfo {
    display: flex;
    flex-direction: column;
    margin-left: .7em;
    width: 100%;
}

.clearIcon {
    width: 18px;
    opacity: 0;
    transform: rotateZ(45deg);
    margin: .3em;
}

.button-container {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #111;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 40%;
        border-radius: .8em;

        img {
            width: 20px;
        }
    }
}

.clearQueueButton {
    img {
        transform: rotateZ(45deg);
    }
}

.expandQueueButton {
    img {
        transform: rotateZ(0deg);
    }
}

.nowPlayingIcon {
    width: 20px;
}


@media (hover: hover) {
    .navMenuItem:hover {
        background: #a5a5a52a;
        cursor: pointer;
    }
    .playQueueTitle:hover {
        cursor: pointer;
    }
    .queueItem:hover {
        background: #a5a5a52a;
        cursor: pointer;
    }
    .queueItem:hover > .playIconContainer > .clearIcon {
        opacity: 1;
    }

    .button-container {
        button:hover {
            cursor: pointer;
            background: #333;
        }
    }
}

@media only screen and (max-width: 970px) {
    #sideNav {
        z-index: 5;
        top: auto;
        bottom: 0;
        height: 60px;
        width: 100vw;
        border: none;
        /* padding-left: 10px;
        padding-top: 10px; */
        padding: 0;
        /* background: #070707c4; */
        backdrop-filter: blur(7px) brightness(70%);
        /* box-shadow: 0 0 20px #000; */
        /* filter: drop-shadow(10px); */
    }
    #playQueueContainer {
        display: none;
    }
    #navMenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 13px;
    }
    #navMenuItem {
        align-items: center;
        padding-left: 0;
        width: 30%;
        height: 60px;
        padding: 3px;
        padding-top: 10px;
        margin: 0;
        border-radius: 14px;
    }
    .active {
        border-radius: 14px;
    }
    .navMenuIcon {
        width: 1.2rem;
        margin-right: 0;
    }
    #homeIcon {
        width: 1.3rem;
    }
}
@media only screen and (max-width: 500px) {
    .navMenuText {
        display: none;
        margin-left: 4px;
        margin-top: 8px;
    }
    .active > div > .navMenuText {
        display: inline-block;
    }
}