@mixin glass-pane {
	border: 1px solid #333;
	background: #1717171e;
	backdrop-filter: blur(14px);
}

@mixin circle {
	border-radius: 20rem;
}

.topbar {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	height: 4em;
	width: 100%;
	padding-top: 0.4em;
}

.barTitle {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding-left: 0.4em;
}

.barIcon {
	@include circle;
	width: 2rem;
	margin-left: 1em;
	background: #fff;
	border: 2px solid #aaa;
}

.barTitleTextContainer {
	display: flex;
}

.barTitleText {
	padding-top: 0.65em;
	font-size: 1.5rem;
	margin-left: 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.version {
	@include circle();
	color: #8d3eff;
	font-size: 0.8rem;
	padding: 0.8em 0.8em 2em;
	font-weight: bold;
}

.searchBar {
	margin-left: 2.6vw;
}

.searchBox {
	@include glass-pane();
	padding: 0.4em 0.4em 0.4em 0.8em;
	height: 2em;
	width: 23.5vw;
	font-size: 1rem;
	border-radius: 1em;
	margin-top: 1em;
	caret-color: #6f16ff;
	filter: drop-shadow(0 0 2em #000);
}

.searchBox:focus {
	box-shadow: 0 0 1em #000;
}

.clearBox {
	position: relative;
	top: 0.2em;
	right: 1.7em;
	font-size: 1.4rem;
	opacity: 0.7;
	visibility: hidden;
}

.userAccountPanel {
	position: absolute;
	top: 1em;
	right: 1.5em;
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-items: flex-end;
	margin-top: 10px;
	overflow: visible;
}

.account-panel {
	display: flex;
	align-items: center;
}

.support-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-bottom: .5em;
	padding-right: .3em;
}

.accountIcon {
	margin-bottom: .5em;

	img {
		width: 32px;
	}
}

.accountIcon:hover {
	cursor: pointer;
	transform: scale(1.05);
}

@media (hover: hover) {
	.versionText:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	#accountIcon:hover {
		transform: scale(1.1);
	}
	.clearBox:hover {
		cursor: pointer;
	}
}

@media only screen and (max-width: 970px) {
	#searchBox {
		width: 50vw;
	}
}

@media only screen and (max-width: 740px) {
	#searchBox {
		width: 40vw;
	}
}

@media only screen and (max-width: 630px) {
	#searchBar {
		margin-left: 0;
	}
	#searchBox {
		width: 30vw;
	}
}

@media only screen and (max-width: 580px) {
	#searchBar {
		margin-left: 0;
		display: none;
	}
	#topBar {
		background: #1717171e;
		backdrop-filter: blur(6px);
		overflow: hidden;
	}
}
